<template>

    <span v-if="loading" class="loading-centered" :style="styles">
        <ring-loader :loading="loading" :size="size" :color="color"></ring-loader>
    </span>

</template>

<script>
    'use strict';

    require('./css/style.scss');

    import RingLoader from 'vue-spinner/src/RingLoader.vue'

    export default {
        components: {RingLoader},
        props: {
            loading: {
                type: Boolean,
                required: true
            },
            size: {
                type: String,
                default: '100px'
            },
            color: {
                type: String,
                default: '#007bff'
            },
        },
        computed: {
            styles: function () {
                console.log(this.size);
                return { width: this.size, height: this.size };
            }
        }
    };

</script>

