<template>
  <div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Сделка</h4>

            <div class="field">
              <label class="label">Цена(вход)</label>
              <input v-model="model.price" class="form-control">
            </div>
            <br />
            <div class="field">
              <label class="label">TakeProfit</label>
              <input v-model="model.takeProfit" class="form-control">
            </div>
            <br/>
            <div class="field">
              <label class="label">StopLoss</label>
              <input v-model="model.stopLoss" class="form-control">
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Позиция</h4>

            <div class="field">
              <label class="label">Формула объема</label>
              <select v-model.trim="model.riskCalcType" class="form-control">
                <option v-for="(item, index) in params.riskCalcTypes" :key="index" :value="index">{{ item }}</option>
              </select>
            </div>

          <br />
            <div class="row">
              <div class="col-md-6">
                <div class="field">
                  <label class="label">Баланс</label>
                  <input v-model="model.balance" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <label class="label">Риск %</label>
                  <input v-model="model.riskBalancePercent" class="form-control">
                </div>
              </div>
            </div>
            <br />
            <div class="field">
              <label class="label">Объем</label>
              <input v-model="model.volume" class="form-control">
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Информация</h4>

            <div class="field">
              <label class="label">Причины для входа</label>
              <textarea v-model="model.enterReasons" class="textarea form-control"></textarea>
            </div>
            <br/>
            <div class="field">
              <label class="label">Комментарий</label>
              <textarea v-model="model.commentEnter" class="textarea form-control"></textarea>
            </div>

          </div>
        </div>
      </div>

    </div>



  </div>
</template>

<script>
'use strict';

export default {
  components: {},
  props: {
    value: null,
    params: null,
    loadedData: null,
  },
  data() {
    return {
      model: this.value,
      isLoaded: false,
    }
  },
  methods: {
    handleModelChange(e) {
      this.$emit('input', this.model)
    },
  },
}
</script>
