<template>
  <div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Тренд</h4>
            <div class="field">
              <label class="label">Тренд: Тип</label>
              <select v-model.trim="model.trendType" class="form-control input-sm">
                <option v-for="(item, index) in params.trendTypes" :key="index" :value="index">{{ item }}</option>
              </select>
            </div>
            <br/>
            <div class="field">
              <label class="label">Тренд: фаза</label>
              <select v-model.trim="model.trendPhase" class="form-control">
                <option v-for="(item, index) in params.trendPhases" :key="index" :value="index">{{ item }}</option>
              </select>
            </div>
            <br/>
            <div class="field">
              <label class="label">График на момент сделки</label>
              <input type="file" accept="image/*" @change="addImage1($event)" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Рынок</h4>

            <div class="field">
              <label class="label">Тренд(ТФ 2): Тип</label>
              <select v-model.trim="model.trendNxtTfType" class="form-control input-sm">
                <option v-for="(item, index) in params.trendTypes" :key="index" :value="index">{{ item }}</option>
              </select>
            </div>
            <br/>
            <div class="field">
              <label class="label">Тренд(ТФ 3): Тип</label>
              <select v-model.trim="model.trendNxt2TfType" class="form-control input-sm">
                <option v-for="(item, index) in params.trendTypes" :key="index" :value="index">{{ item }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Тренд доп</h4>
            <div class="field">
              <label class="label">Тренд: сила</label>
              <input v-model="model.trendStrenght" class="form-control">
            </div>
            <br/>
            <div class="field">
              <label class="label">Тренд: повторы паттерна</label>
              <input v-model="model.trendPatternCount" class="form-control">
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
'use strict';

export default {
  components: {},
  props: {
    value: null,
    params: null,
    loadedData: null,
  },
  data() {
    return {
      model: this.value,
      isLoaded: false,
    }
  },
  methods: {
    handleModelChange(e) {
      this.$emit('input', this.model)
    },
    addImage1(event) {
      if (event.target.files[0] && /^image\//.test(event.target.files[0].type)) {
        this.model.image = event.target.files[0];

        //var reader = new FileReader();
        //reader.onload = (function(aImg) { return function(e) { aImg.src = e.target.result; }; })(img);
        //reader.readAsDataURL(img.file);
      }
    },
  },
}
</script>
