<template>
  <div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">CheckList</h4>

            <br/>
          </div>
        </div>
      </div>

    </div>


  </div>
</template>

<script>
'use strict';

export default {
  components: {},
  props: {
    value: null,
    params: null,
    loadedData: null,
  },
  data() {
    return {
      model: this.value,
      isLoaded: false,
    }
  },
  methods: {
    handleModelChange(e) {
      this.$emit('input', this.model)
    }
  },
}
</script>
