<template>
  <div>

    <div class="row">

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Основное</h4>
            <div class="field">
              <label class="label">Маркет</label>
              <select v-model.trim="model.market" class="form-control">
                <option v-for="(item, index) in params.markets" :key="index" :value="index">{{ item }}</option>
              </select>
            </div>
            <br/>

            <div class="row">
              <div class="col-md-6">
                <div class="field">
                  <label class="label">Инструмент</label>
                  <input v-model="model.instrument" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <label class="label">Таймфрейм</label>
                  <select v-model.trim="model.timeframe" class="form-control">
                    <option v-for="(item, index) in params.periods" :key="index" :value="index">{{ item }}</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">-</h4>
            <div class="field">
              <label class="label">Стратегия</label>
              <select v-model.trim="model.strategyId" class="form-control">
                <option v-for="(item, index) in params.strategies" :key="index" :value="index">{{ item }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title colored" @click="openOther=!openOther">
              Дополнительно <i class="fa " :class="openOther ? 'fa-minus' : 'fa-plus'"></i>
            </h4>

            <div v-if="openOther">
              <div class="field">
                <label class="label">Тип</label>
                <select v-model.trim="model.type" class="form-control input-sm">
                  <option v-for="(item, index) in params.types" :key="index" :value="index">{{ item }}</option>
                </select>
              </div>
              <br/>
              <div class="field">
                <label class="label">Статус</label>
                <select v-model.trim="model.status" class="form-control">
                  <option v-for="(item, index) in params.statuses" :key="index" :value="index">{{ item }}</option>
                </select>
              </div>
              <br/>
              <div class="field">
                <label class="label">Трейд(base)</label>
                <select v-model.trim="model.tradeBaseId" class="form-control">
                  <option v-for="(item, index) in params.trades" :key="index" :value="index">{{ item }}</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
'use strict';

export default {
  components: {},
  props: {
    value: null,
    params: null,
    loadedData: null,
  },
  data() {
    return {
      model: this.value,
      isLoaded: false,
      openOther: false
    }
  },
  methods: {
    handleModelChange(e) {
      this.$emit('input', this.model)
    },
  },
}
</script>
