{#/Users/emilfernando/www/sites/webservices/vendor/symfony/twig-bridge/Resources/views/Form/bootstrap_4_layout.html.twig#}

{% block image_widget %}

    <div style="width: {{ width }}" class="image-type-container">

    <img src="{{ file|get_image_url('square', '/images/noAvatar.png') }}" alt="Мой Аватар" class="img-thumbnail image-input-thumb">

    <{{ element|default('div') }} class="custom-file">

    {%- set type = type|default('file') -%}
    {{- block('form_widget_simple') -}}
    {%- set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' custom-file-label')|trim }) -%}
    <label for="{{ form.vars.id }}" {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
        {%- if attr.placeholder is defined -%}
            {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
        {%- endif -%}
    </label>
    </{{ element|default('div') }}>

    </div>
{% endblock %}

