{% extends 'base.html.twig' %}

{% block title %} Урок: {{ lesson.name }} {% endblock %}
{% block h1 %}  Урок: {{ lesson.name }}
    <small>Продолжить обучение</small> {% endblock %}

{% block body %}

    <div class="card mb-3 p-2">


        <div class="row">
            <div class="col-md-4">
                {% if prevLink %}
                    <a href="{{ path('course_auditorium_lesson_view', {lessonLink: prevLink.id}) }}">
                        <i class="fa fa-arrow-circle-left"></i> {{ prevLink.lesson.name }}
                    </a>
                {% endif %}
            </div>
            <div class="col-md-4 text-center">
                {% if courseData and courseData.stat.finish %}
                    Пройдено {{ courseData.stat.finish }} из {{ courseData.stat.all }} уроков
                {% endif %}
            </div>
            <div class="col-md-4 text-right">
                {% if nextLink %}
                <a href="{{ path('course_auditorium_lesson_view', {lessonLink: nextLink.id}) }}">
                    {{ nextLink.lesson.name }} <i class="fa fa-arrow-circle-right"></i>
                </a>
                {% endif %}
            </div>
        </div>

        <hr/>

        <div class="p-2">
            <img src="{{ lesson.image | get_image_url('square') }}" class="float-left img-thumbnail m-2"/>

            {{ lesson.entry|raw }}
        </div>

        <div id="app-lesson" data-lesson-link-id="{{ lessonLink.id }}" v-cloak></div>

        <div class="text-right">

            {% if is_granted(constant('CoursesBundle\\Security\\LessonManageVoter::OWNER'), lesson) %}
                <a href="{{ path('lesson_update', {lesson: lesson.id}) }}" class="btn btn-success"><i
                            class="fa fa-edit"></i></a>
            {% endif %}

        </div>
    </div>

    {% if lesson.course.isPeriodical %}
        <div id="app-comments" data-entity-class="{{ className(lesson.course) }}" data-entity-id="{{ lesson.course.id }}" data-type="1" v-cloak></div>
    {% else %}
        <div id="app-comments" data-entity-class="{{ className(lesson) }}" data-entity-id="{{ lesson.id }}" data-type="1" v-cloak></div>
    {% endif %}

    {{ encore_entry_script_tags('course/lesson/vue') }}
    {{ encore_entry_link_tags('course/lesson/vue') }}
    {{ encore_entry_script_tags('social/comments/vue') }}
    {{ encore_entry_link_tags('social/comments/vue') }}

{% endblock %}

{% block sidebar %}
    {% include 'Lesson/auditorium/sidebar.student.html.twig' %}
{% endblock %}
