<div class="list-group">
    <a href="{{ path('course_view', {course: lesson.course.id}) }}"
       class="badge badge-primary list-group-item list-group-item-action">
        Курс: {{ lesson.course.name }}
    </a>
    <span class="text-dark badge badge-primary list-group-item">
        Блок: {{ lesson.section.name }}
    </span>
</div>

<br/>

<ul class="list-group">
    <li class="list-group-item bg-dark text-white"><i class="fa fa-info"></i> Информация</li>
    <li class="list-group-item disabled">
        Опыт за прохождение: <i class="badge badge-success float-right">{{ lesson.difficulty }}</i>
    </li>
    {% if lesson.duration %}
        <li class="list-group-item disabled">
            Время на изучение: <i class="badge badge-success float-right">{{ lesson.duration }} мин.</i>
        </li>
    {% endif %}

    {% set lessonLink = app.user.getLessonLink(lesson) %}
    {% if lessonLink %}
        <li class="list-group-item disabled">
            Урок начат: <small class="float-right">{{ lessonLink.createdAt|date }}</small>
        </li>
        {% if lessonLink.finishAt %}
            <li class="list-group-item disabled">
                Урок изучен: <small class="float-right">{{ lessonLink.finishAt|date }}</small>
            </li>
        {% endif %}
    {% endif %}

</ul>