{% extends 'base.html.twig' %}

{% block title %} Урок: {{ lesson.name }} {% endblock %}
{% block h1 %}  {{ lesson.name }}
    <small>уже пройден</small> {% endblock %}

{% block body %}

    <div class="card mb-3 p-2">

        <div class="m-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-success h-100">
                        <i class="fa fa-bullseye text-danger"></i> {{ lesson.purpose }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-success h-100">
                        <i class="em em-up"></i> {{ lesson.bested }}
                    </div>
                </div>
            </div>
        </div>

        <div class="p-2">
            <img src="{{ lesson.image | get_image_url('square') }}" class="float-left img-thumbnail m-2"/>

            {{ lesson.entry }}
        </div>


        <div class="p-2">
            <b>Умозаключение: </b><br/>
            {{ lesson.conclusion }}
        </div>

        {% set lessonLink = app.user.getLessonLink(lesson) %}
        {% if lessonLink.answer %}
            <div class="p-2">
                <b>Мой ответ: </b><br/>
                {{ lessonLink.answer }}
            </div>
        {% endif %}

        <div class="text-right">

            {% if is_granted(constant('CoursesBundle\\Security\\LessonManageVoter::OWNER'), lesson) %}
                <a href="{{ path('lesson_update', {lesson: lesson.id}) }}" class="btn btn-success"><i
                            class="fa fa-edit"></i></a>
            {% endif %}

            <a href="{{ path('course_auditorium_learn_lesson', {course: lesson.course.id}) }}" class="btn btn-primary">
                <i class="fa fa-hourglass-start"></i> Продложить обучение
            </a>

        </div>
    </div>

{% endblock %}

{% block sidebar %}
    {% include 'Lesson/auditorium/sidebar.lesson.html.twig' %}
{% endblock %}