
{% block stylesheets %}
    <style>{{ include('@Twig/exception.css.twig') }}</style>
{% endblock %}

{% block head %}{% endblock %}

{% block body %}{% endblock %}

{{ include('@Twig/base_js.html.twig') }}
