{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.body, { 'attr': {
        'rows' : '10',
        'cols' : '10' }}) }}
    <button class="btn btn-success" type="submit">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}