{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    {% for post in posts %}
        <div>
            <a href="{{ path('blog_show', {'slug': post.slug}) }}">{{ post.title }}</a>
            <a href="{{ path('blog_post_edit', {'slug': post.slug}) }}" class="fa fa-edit"></a>
            <a href="{{ path('blog_post_delete', {'slug': post.slug}) }}" class="fa fa-trash"></a>
        </div>
    {% endfor %}
{% endblock %}
