<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вы успешно зарегистрировалис в университете успеха!</title>
</head>
<body>
<div class="container">
    <p>Добро пожаловать, {{ username }}!</p>
    <p>
        <a href="{{ host }}{{ path('index') }}">{{ siteName }}</a>
    </p>
</div>
</body>
</html>