{% extends 'base.html.twig' %}

{% block title %} Авторизация {% endblock %}
{% block h1 %} Вход в университет <small> продолжить обучение и стать ещё лучше</small> {% endblock %}

{% block body %}


    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    {% endif %}


    <div class="card small-form m-auto">
        <div class="card-header">
            Авторизация
        </div>
        <form method="post">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope text-success"></i> </span>
                        </div>
                        <input type="text" name="_username" placeholder="email" required="required" class="form-control">
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key text-danger"></i> </span>
                        </div>
                        <input type="password" name="_password" placeholder="пароль" required="required"
                               class="form-control custom-checkbox">
                    </div>

                    <div class="clearfix">
                        <div class="float-left custom-control custom-checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" checked class="custom-control-input"/>
                            <label for="remember_me" class="custom-control-label">запомнить меня</label>
                        </div>
                        <div class="float-right">
                            <button type="submit" class="btn btn-success"><i class="fa fa-user"></i> Войти</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="clearfix">
                        <div class="float-left">
                            <a href="{{ path('user_recover') }}" class="">Восстановить</a>
                        </div>
                        <div class="float-right">
                            <a href="{{ path('register') }}" class="">Зарегистрироваться</a>
                        </div>
                    </div>
                </li>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            </ul>
        </form>
    </div>

{% endblock %}