{% extends 'base.html.twig' %}

{% block title %} Профиль {% endblock %}
{% block h1 %} Профиль <small>здесь Вы можете обновить информацию о себе</small> {% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header"><i class="em em-heart"></i> Стать лучше <i class="em em-heart"></i></div>

        {{ form_start(form) }}

        <ul class="list-group list-group-flush">
            <li class="list-group-item">

                <div class="row">
                    <div class="col-md-3 text-center">
                        {{ form_row(form.avatar) }}
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" disabled value="{{ app.user.email }}" />
                        </div>

                        {{ form_row(form.plainPassword) }}
                    </div>
                </div>

            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        {{ form_row(form.name) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.phone) }}
                    </div>
                </div>

            </li>
            <li class="list-group-item text-right">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Сохранить</button>
            </li>
        </ul>

        {{ form_end(form) }}

    </div>

{% endblock %}