{% extends 'base.html.twig' %}

{% block title %} Восстановление доступа {% endblock %}
{% block h1 %} Восстановление доступа {% endblock %}

{% block body %}

    {{ form_start(form) }}

    <div class="card small-form m-auto">
        <div class="card-header"><i class="em em-heart"></i> Стать лучше <i class="em em-heart"></i></div>
        <div class="card-body">


            <div class="mb-4">

                {{ form_label(form.email) }}

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope text-success"></i> </span>

                    </div>
                    {{ form_widget(form.email) }}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success"><i class="fa fa-user"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white">
            <div class="clearfix">
                <div class="float-left">
                    <a href="{{ path('login') }}" class="">Войти</a>
                </div>
                <div class="float-right">
                    <a href="{{ path('register') }}" class="">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}