{% extends 'base.html.twig' %}

{% block title %} Заполнение профиля {% endblock %}
{% block h1 %} Заполнение профиля {% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header"><i class="em em-heart"></i> Стать лучше <i class="em em-heart"></i></div>

        {{ form_start(form) }}

        <ul class="list-group list-group-flush medium-form m-auto">
            <li class="list-group-item">

                {{ form_row(form.plainPassword) }}
                {{ form_row(form.name) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.phone) }}
            </li>

            <li class="list-group-item text-right">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Сохранить</button>
            </li>
        </ul>

        {{ form_end(form) }}

    </div>

{% endblock %}