{% extends 'base.html.twig' %}

{% block title %} Регистрация {% endblock %}
{% block h1 %} Регистрация <small>зарегистрироваться для начала обучения</small> {% endblock %}

{% block body %}

    {{ form_start(form) }}

    <div class="card small-form m-auto">
        <div class="card-header text-center"><i class="em em-heart"></i> Стать лучше вместе с нами <i class="em em-heart"></i></div>
        <div class="card-body">

            <div class="mb-4">

                {{ form_label(form.email) }}

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope text-success"></i> </span>

                    </div>
                    {{ form_widget(form.email) }}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> </button>
                    </div>
                </div>
                <div class="">{{ form_help(form.email) }}</div>
            </div>

        </div>
        <div class="card-footer bg-white">
            <div class="clearfix">
                <div class="float-right">
                    <a href="{{ path('login') }}" class="">Войти</a>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}