{% extends 'base.html.twig' %}

{% block title %} Подтверждение почты {% endblock %}
{% block h1 %} Подтверждение почты {% endblock %}

{% block body %}

    <div class="alert alert-success" role="alert">

        <div class="d-flex h-100">
            <div class="p-2"><i class="fa fa-info fa-3x text-info"></i> </div>
            <div class="p-2 flex-grow-1 align-middle text-center">
                <h4 class="alert-heading text-center">Поздравляем! Остался один шаг <i class="em em-heart"></i></h4>

                Ссылка для входа в университет счастья отправлена Вам на почту
                <span class="text-primary">{{ user.email }}</span> <i class="em em-bell"></i>
            </div>
        </div>
    </div>

{% endblock %}