{% extends 'base.html.twig' %}


{% block title %} EAV атрибуты и значения {% endblock %}
{% block h1 %}
    EAV атрибуты
    <small>атрибуты и значения</small>
{% endblock %}

{% block body %}

    <div class="bg-white p-3">
        <div id="app-eav-attributes" v-cloak></div>
    </div>

    {{ encore_entry_script_tags('js/eav/attributes/vue') }}

{% endblock %}

{% block sidebar %}
    {% include 'Course/auditorium/sidebar.student.html.twig' %}
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('js/eav/attributes/vue') }}
 {% endblock %}