{% extends 'base.html.twig' %}


{% block title %} Атрибуты для сущностей {% endblock %}
{% block h1 %}
    Атрибуты для сущностей
    <small> EAV для сущностей проекта</small>
{% endblock %}

{% block body %}

    <div class="bg-white p-3">
        <div id="app-eav-entity-attributes" v-cloak></div>
    </div>

    {{ encore_entry_script_tags('js/eav/attributesEntity/vue') }}

{% endblock %}

{% block sidebar %}
    {% include 'Course/auditorium/sidebar.student.html.twig' %}
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('js/eav/attributesEntity/vue') }}
 {% endblock %}