{% extends 'base.html.twig' %}


{% block title %} Трейинг {% endblock %}
{% block h1 %}
    Трейдинг: Статистика
    <small>Быть богатым и реализованным уже в этом году =)</small>
{% endblock %}

{% block body %}

    <div class="card mb-5">
        <div class="card-body">
            <div id="app-trader-dashboard"></div>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/trade/trader/dashboard/vue') }}
    {{ encore_entry_link_tags('js/trade/trader/dashboard/vue') }}
{% endblock %}

{% block sidebar %}
    {% include '/Trade/plan/sidebar.html.twig' %}
{% endblock %}
