{% extends 'base.html.twig' %}

{% import "Course/macro.html.twig" as macro %}


{% block title %} Наши курсы {% endblock %}
{% block h1 %}
    Тестер основной квантовой стратегии
    <small>Быть богатым и реализованным уже в этом году =)</small>
{% endblock %}

{% block body %}


    <input id="tradeId" type="hidden" value="{{tradeId}}" />

    <div class="card  mb-5">
        <div class="card-body">
            <div id="app-trader-trade" data-trade-id="{{ tradeId }}" v-cloak></div>
        </div>
    </div>

    {{ encore_entry_script_tags('js/trade/trader/trade/vue') }}
    {{ encore_entry_link_tags('js/trade/trader/trade/vue') }}

{% endblock %}

{% block sidebar %}
    {% include '/Trade/plan/sidebar.html.twig' %}
{% endblock %}
