<div class="card">
    <div class="card-header">Управление</div>

    <div style="padding: 10px">

        <div class="d-grid gap-2 d-md-block">
            <a href="{{ path('trading.trade.dashboard') }}" class="btn btn-primary" type="button">Dashboard</a>
            <hr />
            <a href="{{ path('trading.trade.new') }}" class="btn btn-primary" type="button">Trade new</a>
        </div>

    </div>
</div>
<style>
    .form-group {
        margin-bottom: 0.3rem;
    }
</style>