{% extends 'base.html.twig' %}


{% block body %}
    <h1>List</h1>

    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>


    {{ knp_pagination_filter(pagination, {
        'base.name': 'Name'
    }) }}


    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'base.id') }}</th>
            <th{% if pagination.isSorted('base.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'base.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Release', ['base.createdAt', 'base.createdAt']) }}</th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.createdAt | date('Y-m-d') }}, {{ article.createdAt | date('H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

