{% extends 'base.html.twig' %}


{% block body %}
    <h1>Adding a new product</h1>

    {% if file %}
        <img src="{{ file | get_image_url('big') }}" ><br />
        <img src="{{ file | get_image_url('medium') }}" ><br />
        <img src="{{ file | get_image_url('small') }}" ><br />
        <img src="{{ file | get_image_url('square') }}" ><br />
        <img src="{{ file | get_image_url('icon') }}" ><br />
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.brochure) }}
    {{ form_row(form.name) }}
    <button type="submit">Загрузить</button>
    {{ form_end(form) }}
{% endblock %}

