{% extends 'base.html.twig' %}

{% set name = course.id ? 'Редактирование' : 'Создание новой' %}

{% block title %}{{ name }} программы{% endblock %}
{% block h1 %}{{ name }} программы{% endblock %}

{% block body %}

    <div class="bg-white p-3">

        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {{ form_start(form) }}

        {{ form_errors(form) }}

        <ul class="nav nav-tabs" id="Course-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="home" aria-selected="true">Основное</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if course.isNewRecord %}disabled{% endif %}" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">
                    Курсы/челленджи/цели {% if course.courses|length %} <i class="badge badge-success">{{ course.courses|length }} </i> {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="motivation-tab" data-toggle="tab" href="#motivation" role="tab" aria-controls="motivation" aria-selected="false">
                    Мотивация
                </a>
            </li>
        </ul>
        <div class="tab-content pt-4" id="myTabContent">
            <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
                {% include 'Programm/manage/_blocks/update.base.html.twig' %}
            </div>
            <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                {% include 'Programm/manage/_blocks/update.courses.html.twig' %}
            </div>
            <div class="tab-pane fade" id="motivation" role="tabpanel" aria-labelledby="motivation-tab">
                {% include 'Programm/manage/_blocks/update.motivation.html.twig' %}
            </div>
        </div>

        <button type="submit" class="btn btn-success float-right"><i class="fa fa-save"></i> Сохранить</button>

        {{ form_end(form) }}

    </div>

    {{ encore_entry_script_tags('js/form/collection') }}

{% endblock %}
