{% extends '/Course/index.html.twig' %}


{% block title %} Мой университет {% endblock %}
{% block h1 %}
    Мой университет
    <small> продолжить обучение и стать ещё лучше</small>
{% endblock %}


{% block sidebar %}
    {% include 'Course/manage/sidebar.manager.html.twig' %}
{% endblock %}