{# FuzAppBundle:Advanced:addresses-theme.html.twig #}

{% block CourseSectionType_row %}
    <div class="col-md-12">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block CourseSectionType_widget %}

    <div class="row p-2 m-2 border-bottom">
        <div class="col-md-10">
            <div class="row">
                <div class="col-auto">
                    {% if value %}
                        <img src="{{ value.image | get_image_url('square') }}" alt="Мой Аватар" class="img-thumbnail">
                    {% endif %}
                    {{ form_widget(form.image, {width: '80px'}) }}
                </div>
                <div class="col">
                    {{ form_widget(form.name) }}
                    {{ form_widget(form.description) }}
                    {{ form_widget(form.position) }}
                </div>
            </div>
        </div>
        <div class="col-md-2">

            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="collection-up btn btn-success btn-sm" title="Move fruit up"><span class="fa fa-arrow-up"></span></a>
                    <a href="#" class="collection-down btn btn-success btn-sm" title="Move fruit down"><span class="fa fa-arrow-down"></span></a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="collection-remove btn btn-danger btn-sm" title="Delete fruit"><span class="fa fa-trash"></span></a>
                    <a href="#" class="collection-add btn btn-primary btn-sm" title="Add fruit"><span class="fa fa-plus"></span></a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="collection-duplicate btn btn-default" title="Duplicate fruit"><span class="fa fa-th"></span></a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}