
            <div class="list-group">
                <div class="list-group-item list-group-item-success">
                    Я могу
                </div>

                <a href="{{ path('course_create') }}" class="list-group-item list-group-item-action">
                    <i class="fa fa-plus text-success"></i> Создать новый курс
                </a>
                <a href="{{ path('course_programm_create') }}" class="list-group-item list-group-item-action">
                    <i class="fa fa-plus text-success"></i> Создать программу обучения
                </a>
                <a href="{{ path('course_create') }}" class="list-group-item list-group-item-action">
                    <i class="fa fa-save"></i> Домашние задания <i class="badge badge-info">0</i>
                </a>
                <a href="{{ path('course_create') }}" class="list-group-item list-group-item-action">
                    <i class="fa fa-users"></i> Студенты
                    <i class="badge badge-success">345</i> / <i class="badge badge-info">12380</i>
                </a>
            </div>
