{% extends 'base.html.twig' %}

{% block title %} {{ course.name }} {% endblock %}
{% block h1 %} {{ course.name }} {% endblock %}

{% block body %}

    <div class="card  mb-5">
        <div class="card-body">

            <h4>Подписка пользователя на курс</h4>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="text-right">
                <button class="btn btn-success btn-lg buttonLoaded"><i class="fa fa-user-plus"></i> Подписать пользователя</button>
            </div>

            {{ form_end(form) }}
        </div>
        <div class="card-footer bg-white">

        </div>
    </div>

{% endblock %}

{% block sidebar %}
    {% include 'Course/manage/sidebar.manager.html.twig' %}
{% endblock %}