{% extends 'base.html.twig' %}

{% set name = course.id ? 'Редактирование' : 'Создание нового' %}

{% block title %}{{ name }} курса{% endblock %}
{% block h1 %}{{ name }} курса{% endblock %}

{% block body %}

    <div class="bg-white p-3">

        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {%
            form_theme form.sections
            './Course/manage/parent.course-sections-theme.html.twig'
            'jquery.collection.html.twig'
        %}

        {{ form_start(form) }}

        {{ form_errors(form) }}

        <ul class="nav nav-tabs" id="Course-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="home" aria-selected="true">Основное</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if course.isProgramm() %}disabled{% endif %}" id="sections-tab" data-toggle="tab" href="#sections" role="tab" aria-controls="profile" aria-selected="false">
                    Секции {% if course.sections|length %} <i class="badge badge-success">{{ course.sections|length }} </i> {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if course.isNewRecord or course.isProgramm() %}disabled{% endif %}" id="lessons-tab" data-toggle="tab" href="#lessons" role="tab" aria-controls="profile" aria-selected="false">
                    Уроки {% if course.lessons|length %} <i class="badge badge-success">{{ course.lessons|length }} </i> {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if course.isNewRecord %}disabled{% endif %}" id="achievements-tab" data-toggle="tab" href="#achievements" role="tab" aria-controls="contact" aria-selected="false">
                    Награды {% if course.achievements|length %} <i class="badge badge-success">{{ course.achievements|length }} </i> {% endif %}
                </a>
            </li>
        </ul>
        <div class="tab-content pt-4" id="myTabContent">
            <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
                {% include 'Course/manage/_blocks/update.base.html.twig' %}
            </div>
            <div class="tab-pane fade" id="sections" role="tabpanel" aria-labelledby="sections-tab">
                {% include 'Course/manage/_blocks/update.sections.html.twig' %}
            </div>
            <div class="tab-pane fade" id="lessons" role="tabpanel" aria-labelledby="lessons-tab">
                {% include 'Course/manage/_blocks/update.lessons.html.twig' %}
            </div>
            <div class="tab-pane fade" id="achievements" role="tabpanel" aria-labelledby="achievements-tab">
                {% include 'Course/manage/_blocks/update.achievements.html.twig' %}
            </div>
        </div>

        <button type="submit" class="btn btn-success float-right"><i class="fa fa-save"></i> Сохранить</button>

        {{ form_end(form) }}

    </div>

    {{ encore_entry_script_tags('js/form/collection') }}

{% endblock %}

{% block sidebar %}
    {% include 'Course/manage/sidebar.manager.html.twig' %}
{% endblock %}