<form method="post" action="{{ path('course_achievement_delete', {'id': course_achievement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course_achievement.id) }}">
    <button class="btn">Delete</button>
</form>
