{{ form_start(form) }}

<div class="row">
    <div class="col-md-4">
        {{ form_row(form.image) }}
        {{ form_row(form.course) }}

        <hr />

        {{ form_row(form.type) }}
        {{ form_row(form.jewel) }}
        {{ form_row(form.difficulty) }}
    </div>
    <div class="col-md-8">
        {{ form_row(form.name) }}
        {{ form_row(form.category) }}

        {{ form_row(form.description) }}

        {%
            form_theme form.rules
            './CourseAchievement/_blocks/parent.achievement-rule-theme.html.twig'
            'jquery.collection.html.twig'
        %}

        {{ form_row(form.rules) }}

    </div>
</div>



    <div class="controls-block clearfix">
        <div class="float-left">
            <a href="index" class="btn btn-info"><i class="fa fa-list"></i> К списку</a>
        </div>
        <div class="float-right">
            <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Сохранить</button>
        </div>
    </div>

{{ form_end(form) }}

{{ encore_entry_script_tags('js/form/collection') }}
{#{{ encore_entry_script_tags('js/form/select2') }}#}
