{% extends 'base.html.twig' %}

{% block title %} Редактирование CourseAchievement {% endblock %}
{% block h1 %} Редактирование CourseAchievement CourseAchievement {% endblock %}

{% block body %}

    {{ include('CourseAchievement/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
