{% extends 'base.html.twig' %}

{% block title %} CourseAchievement: список {% endblock %}
{% block h1 %} CourseAchievement: список {% endblock %}

{% block body %}

    <div class="clearfix mb-1">
        <div class="float-left"><b>Всего записей:</b> {{ pagination.getTotalItemCount }}</div>
        <a href="{{ path('course_achievement_new') }}" class="btn btn-success float-right"><i class="fa fa-plus"></i>
            Создать</a>
    </div>

    <!--{{ knp_pagination_filter(pagination, {'base.name': 'Name'}) }}-->
    <div class="overflow-auto">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th{% if pagination.isSorted('base.id') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Id', 'base.id') }}
                </th>
                <th>-</th>
                <th{% if pagination.isSorted('base.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Наименование', 'base.name') }}
                </th>
                <th{% if pagination.isSorted('base.rules') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Правила', 'base.rules') }}
                </th>
                <th{% if pagination.isSorted('base.type') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Тип', 'base.type') }}
                </th>
                <th{% if pagination.isSorted('base.jewel') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Ценность', 'base.jewel') }}
                </th>
                <th{% if pagination.isSorted('base.category') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Категория', 'base.category') }}
                </th>

                <th{% if pagination.isSorted('base.difficulty') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Сложность', 'base.difficulty') }}
                </th>

                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for courseAchievement in pagination %}
                <tr>
                    <td>{{ courseAchievement.id }}</td>
                    <td>{% if courseAchievement.image %}
                            <img src="{{ courseAchievement.image | get_image_url('square') }}" alt="Мой Аватар" class="h-25p">
                        {% endif %}</td>
                    <td>{{ courseAchievement.name }}</td>
                    <td>{{ courseAchievement.rules ? courseAchievement.rules|length : 0 }}</td>
                    <td>{{ constant('CoursesBundle\\Entity\\CourseAchievement::TYPES')[courseAchievement.type] }}</td>
                    <td>{{ constant('CoursesBundle\\Entity\\CourseAchievement::JEWELS')[courseAchievement.jewel] }}</td>
                    <td>{{ courseAchievement.category }}</td>
                    <td>{{ courseAchievement.difficulty }}</td>
                    <td>
                        <a href="{{ path('course_achievement_show', {'id': courseAchievement.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="{{ path('course_achievement_edit', {'id': courseAchievement.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ path('course_achievement_delete', {'id': courseAchievement.id}) }}">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

