{% extends 'base.html.twig' %}

{% block title %} Create new CourseAchievement {% endblock %}
{% block h1 %} Create new CourseAchievement {% endblock %}

{% block body %}

    {{ include('CourseAchievement/_form.html.twig') }}

    <a href="{{ path('course_achievement_index') }}">back to list</a>
{% endblock %}
