{% extends 'base.html.twig' %}

{% block title %}CourseAchievement{% endblock %}

{% block title %} CourseAchievement {% endblock %}
{% block h1 %} CourseAchievement {% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course_achievement.id }}</td>
            </tr>
            <tr>
                <th>Rules</th>
                <td>{{ course_achievement.rules ? course_achievement.rules|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ course_achievement.type }}</td>
            </tr>
            <tr>
                <th>Jewel</th>
                <td>{{ course_achievement.jewel }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ course_achievement.category }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ course_achievement.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ course_achievement.description }}</td>
            </tr>
            <tr>
                <th>Difficulty</th>
                <td>{{ course_achievement.difficulty }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ course_achievement.createdAt ? course_achievement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ course_achievement.updatedAt ? course_achievement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('course_achievement_index') }}">back to list</a>

    <a href="{{ path('course_achievement_edit', {'id': course_achievement.id}) }}">edit</a>

    {{ include('course_achievement/_delete_form.html.twig') }}
{% endblock %}
