<div class="controls-block text-right">
    {% if not course.isNewRecord %}
        <a href="{{ path('lesson_create', {course: course.id}) }}" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i> Создать урок
        </a>
    {% endif %}
</div>

{% for section in course.sections %}
    <div class="card mb-2 mt-2">
        <h5 class="card-header bg-primary">{{ section.name }} <i class="badge badge-dark">{{ section.lessons|length }}</i> </h5>
        <div class="card-body">
            {% for lesson in section.lessons %}
                <div class="row pb-3 mb-3 border-bottom">
                    <article class="col-md-12">
                        <div class="row">
                            <div class="col-auto">
                                <img src="{{ lesson.image | get_image_url('square') }}" class="img-thumbnail w-auto">
                            </div>
                            <div class="col">
                                <h2>{{ lesson.name }}</h2>
                                <p>{{ lesson.purpose|raw }}</p>
                            </div>
                        </div>

                        <div class="controls-block text-right">

                            <div class="clearfix">
                                <ul class="list-inline float-left">
                                    <li class="list-inline-item"><a href="#">Today</a></li>
                                    <li class="list-inline-item">
                                        <a href="#"><span class="glyphicon glyphicon-comment"></span> 10</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#"><span class="glyphicon glyphicon-share"></span> 8Shares</a>
                                    </li>
                                </ul>
                                <div class="float-right">
                                    <a href="{{ path('lesson_update', {lesson: lesson.id}) }}" class="btn btn-primary btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

{% endfor %}
