.v--modal-box {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
}

.modal-congratulation-body {
  padding: 20px;
}


.modal-congratulation-stat li {
  font-size: 0.8rem;
  padding: 2px;
}

