

/// LESSOn

.periodic-day {
  padding: 0 3px;
  margin: 1px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.periodic-day:hover {
  border: 1px solid #7e7ecc;
  background-color: #d7ffdc;
}


.periodic-day.weekend {
  background-color: #ffcdd3;
  border: 1px solid red;
}

.periodic-day.active {
  border: 3px solid #5537ff;
}

////
