{% extends 'base.html.twig' %}

{% import "Course/macro.html.twig" as macro %}


{% block title %} Аудитория {% endblock %}
{% block h1 %}
    Аудитория
    <small> продолжить обучение и стать ещё лучше</small>
{% endblock %}

{% block body %}

    <div class="bg-white p-3">
        <div id="app-dashboard" v-cloak></div>
    </div>

    {{ encore_entry_script_tags('js/course/dashboard/vue') }}

{% endblock %}

{% block sidebar %}
    {% include 'Course/auditorium/sidebar.student.html.twig' %}
{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('js/course/dashboard/vue') }}
 {% endblock %}