{% extends 'base.html.twig' %}

{% import "Course/macro.html.twig" as macro %}


{% block title %} Курс: {{ course.name }} {% endblock %}
{% block h1 %}  {{ course.name }}
    <small>Продолжить обучение</small> {% endblock %}

{% block body %}


    <div class="card  mb-5">
        <div class="card-body">


            <h4>
                <a href="{{ path('course_view', {course: course.id}) }}" class="text-dark">{{ course.name }}</a>
            </h4>

            <div class="row">
                <div class="col-md-3">
                    <a href="{{ path('course_view', {course: course.id}) }}">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ course.image | get_image_url('square') }}" alt="{{ course.name }}">
                        <h5 class="position-absolute topleft-10 opacity-1">
                                <span class="badge badge-danger">
                                {{ constant('CoursesBundle\\Entity\\Course::TYPES')[course.type] }}
                                </span>
                        </h5>
                    </a>

                    <hr />

                    <ul class="list-group">
                        <li class="list-group-item active">Статистика</li>
                        <li class="list-group-item"><i class="badge badge-pill">{{ course.students|length }}</i> Учеников</li>
                        <li class="list-group-item"><i class="badge badge-pill">100%</i> Рейтинг</li>
                        <li class="list-group-item">Блоков <i class="badge badge-pill">{{ course.sections|length }}</i></li>
                        <li class="list-group-item">Уроков <i class="badge badge-pill">{{ course.lessons|length }}</i></li>
                    </ul>

                </div>
                <div class="col pl-md-0">

                    <div class="d-flex align-items-start flex-column h-100">
                        <div class="w-100 mb-auto">

                            <div class="text-muted mb-3">
                                {{ course.description | raw }}
                            </div>

                            {{ render(controller('CoursesBundle:auditorium\\Course:getTreePart', {course: course.id})) }}

                        </div>
                        <div class="w-100 mt-3">
                            <div class="row">
                                <div class="col-auto">
                                    <small class="badge badge-light">блоков: {{ course.sections|length }}</small>
                                    <small class="badge badge-light">уроков: {{ course.lessons|length }}</small>
                                </div>
                                <div class="col text-right">

                                        {% if is_granted(constant('CoursesBundle\\Security\\CourseVoter::OWNER'), course) %}
                                            <a href="{{ path('course_update', {course: course.id}) }}"
                                               class="btn btn-light btn-sm">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        {% endif %}

                                        {% set userCourseLink = app.user.getCourseLink(course) %}

                                        {% if userCourseLink and userCourseLink.status == constant('CoursesBundle\\Entity\\CourseUserStudent::STATUS_FINISH') %}
                                            <a href="{{ path('course_auditorium_learn', {course: course.id}) }}"
                                               class="btn btn-light btn-sm">
                                                <i class="em em-yellow_heart"></i> Курс успешно пройден!
                                            </a>
                                        {% elseif userCourseLink %}
                                            <a href="{{ path('course_auditorium_lesson_learn', {lessonLink: app.user.getCourseCurrentLessonLink(course).id}) }}"
                                               class="btn btn-primary btn-sm">
                                                <i class="fa fa-hourglass-start"></i> Продложить обучение
                                            </a>
                                        {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white">
            {{ macro.courseLineInfo(course) }}
        </div>
    </div>

    <div id="app-comments" data-entity-class="{{ className(course) }}" data-entity-id="{{ course.id }}" data-type="1" v-cloak></div>

    {{ encore_entry_script_tags('social/comments/vue') }}
    {{ encore_entry_link_tags('social/comments/vue') }}

{% endblock %}

{% block sidebar %}
    {% include 'Course/auditorium/sidebar.student.course.html.twig' %}
{% endblock %}