<div class="card">

    {% set currentSection = app.user.getCurrentSection(course) %}

    {% for section in course.sections %}

        {% set sectionStat = app.user.getSectionStatistics(section) %}
        {% set finished = sectionStat[constant('CoursesBundle\\Entity\\CourseLessonUserStudent::STATUS_FINISH')] %}
        {% set new      = sectionStat[constant('CoursesBundle\\Entity\\CourseLessonUserStudent::STATUS_NEW')] %}
        {% set current  = sectionStat[constant('CoursesBundle\\Entity\\CourseLessonUserStudent::STATUS_CURRENT')] %}
        {% set all      = sectionStat['all'] %}

        {% set classSectionRow = '' %}
        {% if finished == sectionStat['all'] %}
            {% set classSectionRow = 'bg-light text-success' %}
        {% elseif finished != all and (finished > 1 or current > 0) %}
            {% set classSectionRow = 'bg-success' %}
        {% endif %}

        <div class="card-header bg-secondary text-white {{ classSectionRow }}" data-toggle="collapse"
             data-target="#collapseSection-{{ section.id }}"
             aria-expanded="{% if app.user.getCurrentSection(course) != section %}false{% endif %}"
             aria-controls="collapseSection-{{ section.id }}">
            {{ section.name }}  <small>{{ sectionStat[constant('CoursesBundle\\Entity\\CourseLessonUserStudent::STATUS_FINISH')] }}</small> /
                                <small>{{ all }}</small>
            {% if finished == sectionStat['all'] %}
                <b class="text-success float-right">завершено</b>
            {% endif %}
        </div>

        <div class="list-group list-group-flush {% if currentSection and currentSection != section %}collapse{% endif %}"
             id="collapseSection-{{ section.id }}">

            {% for lesson in section.lessons %}

                {% if lesson.status == constant('CoursesBundle\\Entity\\CourseLesson::STATUS_ACTIVE') %}

                    {% for userLessonLink in app.user.getLessonLinks(lesson) %}

                        {% if userLessonLink.status == constant('CoursesBundle\\Entity\\CourseLessonUserStudent::STATUS_CURRENT')
                            and (userLessonLink.startAt is empty or userLessonLink.startAt < date('now')) %}
                            <a class="list-group-item list-group-item-action" href="{{ path('course_auditorium_lesson_view', {lessonLink: userLessonLink.id}) }}">
                                <b class="fa fa-long-arrow-alt-right text-success"></b> <b class="text-secondary">{{ lesson.name }}</b>
                                {% if userLessonLink.startAt %}
                                    <small class="float-right"><i class="em em-date"></i> {{ userLessonLink.startAt|date }}</small>
                                {% endif %}
                            </a>
                        {% elseif userLessonLink.status == constant('CoursesBundle\\Entity\\CourseLessonUserStudent::STATUS_FINISH') %}
                            <a class="list-group-item list-group-item-action" href="{{ path('course_auditorium_lesson_view', {lessonLink: userLessonLink.id}) }}">
                                <i class="fa fa-check text-success"></i> <span class="text-muted text-line-through">{{ lesson.name }}</span>
                                <small class="float-right"><i class="em em-ok_hand"></i> {{ userLessonLink.startAt|date }}</small>
                            </a> {% elseif userLessonLink.status == constant('CoursesBundle\\Entity\\CourseLessonUserStudent::STATUS_OVERDUE') %}
                            <span class="list-group-item list-group-item-action">
                                <i class="fa fa-minus text-danger"></i> <span class=" text-danger text-line-through">{{ lesson.name }}</span>
                                <small class="float-right"><i class="em em-date"></i> {{ userLessonLink.startAt|date }}</small>
                            </span>
                        {% else %}
                            <span class="list-group-item">
                                <i class="fa fa-circle-thin text-muted"></i> <span class="text-muted">{{ lesson.name }}</span>
                                {% if userLessonLink.startAt %}
                                    <small class="float-right"><i class="em em-date"></i> {{ userLessonLink.startAt|date }}</small>
                                {% endif %}
                            </span>
                        {% endif %}

                    {% endfor %}

                {% endif %}
            {% endfor %}

        </div>

    {% endfor %}

</div>



