<div class="card">
    <div class="card-header">Статистика</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{{ path('course_auditorium_exit', {course: course.id}) }}">
                <i class="fa fa-minus text-muted"></i> Отчислиться из курса</a>
        </li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>
