<template>

    <v-app>

        <loading :loading="loading"></loading>


        <h1>Test</h1>


        <h1>Первое приложение!</h1>
        <v-stepper v-model="e1">
            <v-stepper-header>
                <v-stepper-step :complete="e1 > 1" step="1">Выбор сферы жизни</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="e1 > 2" step="2">Name of step 2</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="3">Name of step 3</v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
                <v-stepper-content step="1">
                    <v-card
                            class="mb-12"
                            color="grey lighten-1"
                            height="200px"
                    >
                       <SphereSelect></SphereSelect>

                    </v-card>
                </v-stepper-content>

                <v-stepper-content step="2">
                    <v-card
                            class="mb-12"
                            color="grey lighten-1"
                            height="200px"
                    >Step 2</v-card>

                </v-stepper-content>

                <v-stepper-content step="3">
                    <v-card
                            class="mb-12"
                            color="grey lighten-1"
                            height="200px"
                    >

                        Step 3

                    </v-card>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>

        <v-btn
                color="primary"
                @click="e1++"
        >
            Continue
        </v-btn>
        <v-btn text>Cancel</v-btn>

    </v-app>

</template>

<script>
    'use strict';

    import axios from 'axios';
    import Loading from '../../../../../../../assets/js/vue/elements/loading/Loading'
    import {required, minLength} from 'vuelidate/lib/validators';
    import SphereSelect from "./components/SphereSelect";

    const Routing = require('../../../../../../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js');
    Routing.setRoutingData(require('../../../../../../../assets/js/fos_js_routes.json'));

    export default {
        el: "#app-affirmation-edit",
        render: h => h(App),
        components: {SphereSelect, Loading},
        data() {
            return {
                e1: 0,


                loading: false,
                data: [],
                editMode: 'edit',
                form: {
                    id: null,
                    name: null,
                    sphereId: false,
                    categoryId: null,
                    reason: null,
                    status: null,
                }
            }
        },
        mounted() {
            //this.loadData();
            console.log(process.env)
        },
        validations: {
            form: {
                name: {required, minLength: minLength(3)},
            }
        },
        methods: {
            goBack() {
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
            },
            /*loadData() {
                this.loading = true;

                axios
                    //.get(Routing.generate('eav_api_get_attributes'))
                    .get('/api/eav/get-attributes')
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        this.data.attributes = data.attributes;
                        this.data.types = Object.entries(data.types);

                        this.loading = false;
                        this.editMode = 'add';
                        this.clearForm();

                        console.log('Data', this.data, this.data.types[0][0]);
                    })
                    .catch((error) => {
                        console.log(error);

                        this.loading = false;
                    });
            },*/

            sendAffirmation: function () {
                const data = JSON.stringify(this.form);
                axios
                    .post('/api/eav/set-attribute', data)
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        if (data.success) {
                            this.editMode = 'add';

                            //this.loadData();
                            this.clearForm();
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },

            onClickSave: function (event) {
                this.$v.form.$touch();

                if (this.$v.form.$error) {
                    return;
                }
                this.sendAttribute();
            },

            clearForm: function () {
                this.form.id = '';
                this.form.name = '';
                this.form.grouped = '';
                this.form.values = [];
            }
        },
    };

</script>