<template>

    <div>

        Trader dashboard

    </div>

</template>

<script>
    'use strict';

    import axios from 'axios';

    const routes = require('../../../../../../../assets/js/fos_js_routes.json');
    const Routing = require('../../../../../../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js');

    Routing.setRoutingData(routes);

    export default {
        el: "#app-trader-dashboard",
        components: {},
        data() {
            return {
                loading: false,
            }
        },
        mounted() {
            //this.loadData();
        },
        updated() {

        },

        methods: {
            loadTrade() {
                this.loading = true;

                axios
                    .get(Routing.generate('course_auditorium_dashboard_api'))
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        this.courses = data.courses;
                        this.achievements = data.achievements;

                        this.setAllCourses();

                        this.loading = false;
                    })
                    .catch((error) => {
                        console.log(error);

                        this.loading = false;
                    });
            },


            sendTrade() {
                const data = JSON.stringify({id: this.form.courseLink.lesson.id, answer: this.form.answer});
                axios
                    .post('/auditorium/lessons/api/learn/lesson/answer', data)
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        this.$modal.hide('modal-periodic-answer');

                        this.finishCongratulations(data);

                        this.answerFormReset();

                        this.loadData();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        }
    };

</script>