<template>

  <div>

    Trader trade({{dataTradeId}}): {{ trade.strategyId }}

    <div v-if="loadedData">
      <trade-form-base
          v-if="step===1"
          ref="tradeFormBase"
          v-model="trade"
          :params="params"
          :loadedData="loadedData"
      ></trade-form-base>

      <trade-form-enter
          v-if="step===2"
          ref="tradeFormEnter"
          v-model="trade"
          :params="params"
          :loadedData="loadedData"
      ></trade-form-enter>


      <trade-form-chart
          v-if="step===3"
          ref="tradeFormChart"
          v-model="trade"
          :params="params"
          :loadedData="loadedData"
      ></trade-form-chart>


      <trade-form-check-list
          v-if="step===4"
          ref="tradeFormCheckList"
          v-model="trade"
          :params="params"
          :loadedData="loadedData"
      ></trade-form-check-list>
    </div>


    <hr />

    <button class="btn btn-dark" v-if="step > 1" v-on:click="stepBack">Назад</button>
    <button class="btn btn-success" v-if="step < 4" v-on:click="stepNext">Далее</button>
    <button class="btn btn-success" v-if="step === 4" v-on:click="stepSubmit">Сохранить</button>

  </div>

</template>

<script>
'use strict';

import axios from 'axios';
import TradeFormChart from './components/TradeFormChart';
import TradeFormBase from './components/TradeFormBase';
import TradeFormEnter from './components/TradeFormEnter';
import TradeFormCheckList from "./components/TradeFormCheckList";

const routes = require('../../../../../../../assets/js/fos_js_routes.json');
const Routing = require('../../../../../../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js');

Routing.setRoutingData(routes);



export default {
  el: "#app-trader-trade",
  components: {TradeFormChart, TradeFormBase, TradeFormEnter, TradeFormCheckList},
  props: {
    dataTradeId: null
  },
  data() {
    return {
      loading: false,
      loadedData: false,
      step: 1,
      params: {
        portfolios: [],
        strategies: [],
        trades: [],
        periods: [],
        trendTypes: [],
        trendPhases: [],
      },
      trade: {
        id: null,
        strategyId: null,
        tradeBaseId: null,
        type: 2,
        status: 1,

        market: 'stocks',
        instrument: null,
        timeframe: null,
        riskCalcType: 1,



        // Graphic
        trendType:null,
        trendPhase:null,

        trendStrenght:null,
        trendPatternCount:null,

        trendNxtTfType:0,
        trendNxt2TfType:0,

        atrValue: null,


        // trade
        side: 0,
        price: null,
        balance: null,

        enterReasons: '[]',
        commentEnter: null,

        takeProfit: null,
        stopLoss: null,

        volume: null,

        profitPotentialPercent: null,
        profitPercent: null,
        profitResult: null,
        profitPrice: null,
        riskBalancePercent: null,

        commentExit: null,
        commentResult: null,
        commentResultImprove: null,
        psyhologyRate: null,


        profitResultHighest: null,
        isResultKnock: false,
        isFilterAtr: false,
        isFilterVolume: false,
        isFilterCftcType: false,


        image: null,
        imageResult: null,

        imageLink: null,
        imageResultLink: null,
      }
    }
  },
  mounted() {
    this.loadParams();

    let tradeId = document.getElementById("tradeId").value;
    if (tradeId) {
      this.loadTrade(tradeId);
    } else {
      this.loadedData = true;
    }
  },
  updated() {

  },

  methods: {
    stepBack() {this.step -= 1;},
    stepNext() {this.step += 1;},
    stepSubmit() {
      this.saveTrade();
    },

    loadTrade(tradeId) {
      this.loading = true;

      axios
          .post(Routing.generate('trading.trade.load', {trade: tradeId}))
          .then(response => {
            let data = JSON.stringify(response.data)
            data = JSON.parse(data);

            console.log(data);
            this.trade = data.data.trade;

            this.loading = false;
            this.loadedData = true;
          })
          .catch((error) => {
            console.log(error);

            this.loading = false;
          });
    },


    saveTrade() {
      const trade = JSON.stringify(this.trade);
      axios
          .post(Routing.generate('trading.trade.save'), {trade: trade})
          .then(response => {
            let data = JSON.stringify(response.data)
            data = JSON.parse(data);

            console.log(data);

          })
          .catch((error) => {
            console.log(error);
          });
    },

    loadParams() {
      this.loading = true;
      axios
          .post(Routing.generate('trading.trade.get.params'))
          .then(response => {
            let data = JSON.stringify(response.data)
            data = JSON.parse(data);
            this.params = data.data;
            this.loading = false;

            console.log(this.params);
          })
          .catch((error) => {
            console.log(error);

            this.loading = false;
          });
    },

  }
};

</script>