{% extends 'base.html.twig' %}

{% block title %} Аффирмации {% endblock %}
{% block h1 %}
    Аффирмации
    <small> вместе мы станем лучше!</small>
{% endblock %}

{% block body %}


    Catalog



{% endblock %}

{% block sidebar %}
    <div class="bg-white p-3">
        <div id="app-affirmation-catalog-filters" v-cloak></div>
    </div>

    {{ encore_entry_script_tags('js/affirmations/CatalogFilters/vue') }}

    {% include 'Catalog/sidebar.guest.html.twig' %}
{% endblock %}


 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('js/affirmations/CatalogFilters/vue') }}
 {% endblock %}