.media-body .author {
  display: inline-block;
  font-size: 1rem;
  color: #000;
  font-weight: 700;
}

.metadata {
  display: inline-block;
  margin-left: .5rem;
  color: #777;
  font-size: .8125rem;
}

.footer-comment {
  color: #777;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
}

.vote.plus {
  color: #69a76f;
}

.vote.minus {
  color: #ff908d;
}



.vote.plus:hover {
  color: green;
}

.vote.minus:hover {
  color: red;
}

.vote {
  cursor: pointer;
}

.comment-reply a {
  color: #777;
}

.comment-reply a:hover, .comment-reply a:focus {
  color: #000;
  text-decoration: none;
}

.img-rounded {
  border-radius: 3px;
}

.comment-text {
  color: #111;
  font-size: 15px;
  line-height: 1.46;
  overflow: hidden;
  font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
}

/* Анимации появления и исчезновения могут иметь */
/* различные продолжительности и динамику.       */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
