{% extends 'base.html.twig' %}

{% block body %}

    <div class="">
        <b>Всего записей:</b> {{ pagination.getTotalItemCount }}
    </div>

    {% for course in pagination %}

        <div class="card mb-3">
            <div class="card-header">
                {{ course.name }}
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="d-flex p2">
                        <div class="p-2">
                            <img src="{{ course.image | get_image_url('square') }}" />
                        </div>
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <div class="">{{ course.annotation }}</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="float-left">

                    </div>
                    <div class="float-right">
                        <a href="/" class="btn btn-primary">Начать</a>
                    </div>
                </li>
            </ul>

        </div>


    {% endfor %}

    <div class="navigation text-right">
        {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}

{% block sidebar %}
    <div class="col-md-3 order-2" id="sticky-sidebar">
        <div class="sticky-top">
            asdasd

            asdsad

        </div>
    </div>
{% endblock %}