/* Lists Start */

.listArrowLight {
  margin-bottom: 8px;
  padding: 0;
  list-style: none;
  counter-reset: li;
}

.listArrowLight li {
  position: relative;
  border: 2px solid #DDDDDD;
  background: #FAFAFA;
  padding: 16px 20px 16px 28px;
  margin: 12px 0 12px 40px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.listArrowLight li:hover {
  background: #F0F5FB;
  border: 2px solid #ADCEE9;
}

.listArrowLight li:before {
  line-height: 32px;
  position: absolute;
  top: 4px;
  left: -40px;
  width: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  background: #77AEDB;
  counter-increment: li;
  content: counter(li);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.listArrowLight li:hover:before {
  border: 2px solid #337AB7;
  background: #337AB7;
  color: #FFF;
  -webkit-transform: translate(-12px, 0);
  -ms-transform: translate(-12px, 0);
  -o-transform: translate(-12px, 0);
  transform: translate(-12px, 0);
}

.listArrowLight li:after {
  position: absolute;
  left: 0;
  top: 4px;
  content: "";
  height: 0;
  width: 0;
  border: 16px solid transparent;
  border-left-color: #77AEDB;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s
}

.listArrowLight li:hover:after {
  margin-left: 6px;
  border-left-color: #337AB7;
}

/* Lists End */


/* BlockQuote Start
 *
 * <blockquote class="blockquote">
 *   <p>Текст цитаты</p>
 *   <cite>Автор цитаты</cite>
 * </blockquote>
 */
.blockquote {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 16px 16px 30px 16px;
  padding: 16px 24px;
  position: relative;
  font-size: 16px;
  background: #efefef;
  color: #000;
  font-style: italic;
}

.blockquote::before {
  border: 14px solid transparent;
  border-top: 14px solid #efefef;
  border-bottom: 0;
  height: 0;
  width: 0;
  border-top-width: 25px;
  content: '';
  display: block;
  position: absolute;
  left: 40px;
  bottom: -25px;
  transform-origin: center;
  transform: rotate(90deg) skew(-25deg) translateY(17px);
}

.blockquote cite {
  position: absolute;
  bottom: -24px;
  left: 62px;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  color: #000;
}

/* BlockQuote End */

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}