@import "template/breadcrumbs";


html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background: url(/images/pazle_bg.png) 0 0 repeat;
  background-color: white;
  padding-top: 56px;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.bg-purple {
  background-color: var(--purple);
}


/** FOOTER **/
.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
  color: #ffffff;
}

.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: .22s ease;
}

/** H1 **/
h1 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  text-shadow: 1px 1px 1px #ccc;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 5px;
  margin-bottom: 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background-color: white;
}

h1:first-letter {
  color: green; /* Красный цвет текста */
}

h1 span {
  color: #cc0000;
  font-weight: bold;
}

h1 small {
  font-size: 0.35em;
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: none;
  display: block; /*--Выделяем для тэга small отдельную линию--*/
}

.small-form {
  max-width: 25rem;
}

.medium-form {
  max-width: 50rem;
}

footer {
  background: #2d3246;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
}

body > main {
  margin-bottom: 100px;
}

label.required:after {
  position: absolute;
  content: "*";
  color: red;
  padding-left: 5px;
}

.controls-block {
  border: 1px #f7f7f7 solid;
  background-color: #fafffa;
  padding: 5px;
  margin: 5px 0;
}

.h-25p {
  height: 25px;
}

.h-100p {
  height: 100px;
}

.image-icon {
  height: 20px;
}

@media (min-width: 1399px) {
  .container {
    max-width: 1399px;
  }
}

a {
  transition: 0.3s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  transition: 0.3s;
}

.topleft-10 {
  top: 10px;
  left: 10px;
}

.opacity-1 {
  opacity: 0.9;
}

.opacity-2 {
  opacity: 0.8;
}

.wrap {
  background: #f5f6fa;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.02);
  padding: 0 30px 30px 30px;
}

.text-line-through {
  text-decoration: line-through;
}

[v-cloak] {
  display: none;
}

iframe {
  width: 100%;
  max-width: 960px; /* Also helpful. Optional. */
}


//////
.timeline .wrap-steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  counter-reset: flag;
  margin: 1.25em auto;
  width: 80%;
  font-size: 14px;
}

.timeline .step {
  position: relative;
  margin-left: -1em;
  width: 100%;
  height: 2.5em;
  color: #333;
  box-sizing: border-box;
}

.timeline .step > span {
  box-sizing: border-box;
}

.timeline .step > span:first-of-type {
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 90%;
  height: 0.65em;
  border-radius: 0.35em;
  background-color: white;
}

.timeline .step > span:first-of-type:after {
  content: counter(flag);
  counter-increment: flag;
  position: absolute;
  top: -0.6em;
  right: -1.6em;
  width: 1.9em;
  height: 1.9em;
  font-size: 1em;
  line-height: 1.9em;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
  z-index: 1;
}

.timeline .step > span.inner-content:first-of-type:after {
  content: '';
  counter-increment: flag;
  position: absolute;
  top: -0.6em;
  right: -1.6em;
  width: 1.9em;
  height: 1.9em;
  font-size: 1em;
  line-height: 1.9em;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
  z-index: 1;
}


.timeline .step > i.inner-content-counter {
  position: absolute;
  right: 3px;
  z-index: 1;
}


.timeline .step > span:last-of-type {
  position: absolute;
  left: 0;
  top: 1.9em;
  padding: 0 0.65em;
  width: 85%;
  font-size: 0.9em;
  line-height: 0.9em;
  text-align: right;
  color: rgba(51, 51, 51, 0.8);
}

.timeline .active span:first-of-type {
  background-color: #f1c40f;
}

.timeline .active span:first-of-type:after {
  line-height: 1.5em;
  border: 0.2em solid #f1c40f;
}

.timeline .step > span:first-of-type:after {
  background-color: #bcc0b8;
}

.timeline .step.active > span:first-of-type:after {
  background-color: #d2ffd2;
}


.timeline .step.last > span:first-of-type:after {
  background-color: #cbffca;
}

.timeline .active.last span:last-of-type {
  color: green;
}


.timeline .last > span:first-of-type:after {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/////

.timeline-item {
  font-size: 12px;
  opacity: 0.5;
  color: #ced1cd;
  display: inline-block;
  position: relative;
  top: -15px;

  padding: 0 5px;
  border: 3px solid #f1c40f;
  border-radius: 1em;
  background-color: wheat;

  margin-right: 5px;
}

.timeline-item.ended {
  opacity: 1;
  color: black;
  background-color: #eaf1b2;

}

.timeline-item.current {
  opacity: 1;
  color: black;
  background-color: #9aff8f;
  font-size: 16px;
  padding: 0 8px;
  top: -13px;

  border: 5px solid #f1c40f;

}

.timeLine-container {
  background: #f1c40f bottom;;
  height: 5px;
  margin-top: 10px;
}


.timeLine-progress {
  height: 4px;
}