<template>

    <div>

        <h2>Поздравляем с прохождением урока!</h2>

        <h3>{{lesson.name}}</h3>

        <label>Результат:</label>
        <div class="alert alert-success" role="alert" v-if="lesson" v-html="lesson.conclusion"></div>


        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <congratulation-stat-block :lesson="lesson" :statistics="statistics"></congratulation-stat-block>
            </div>
        </div>

    </div>

</template>

<script>
    'use strict';

    import CongratulationStatBlock from './CongratulationStatBlock';

    export default {
        props: {
            statistics: {
                type: Object,
                required: true
            },
            newData: {
                type: Object,
                required: false,
            },
            course: {
                type: Object,
                required: true
            },
            lesson: {
                type: Object,
                required: true
            },
        },
        components: {CongratulationStatBlock},
        mounted() {
            console.log('Mounted LEsson', this.lesson);
            console.log('Mounted LEsson', this.course);
            console.log('Mounted LEsson', this.statistics);
        },
        computed: {},
        methods: {
            onClick: function () {
                console.log('click');
            },
        }
    };

</script>

