<template>

    <div class="modal-congratulation-stat">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Пройдено уроков <i class="float-right">{{statistics.lessons.finished}}</i></li>
            <li class="list-group-item">Завершено курсов <i class="float-right">{{statistics.courses.finished}}</i></li>
            <li class="list-group-item">Заработано опыта <i class="float-right">{{lesson.difficulty}}</i></li>
            <li class="list-group-item">
                <span>До следующего уровня: <b>{{statistics.experience.nextExp - statistics.experience.current}}</b> опыта</span>
                ({{statistics.experience.current}}/{{statistics.experience.nextExp}})
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" v-bind:style="{ width: statistics.experience.percent + '%' }" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        {{statistics.experience.percent}}%
                    </div>
                </div>
            </li>
        </ul>
    </div>

</template>

<script>
    'use strict';

    export default {
        props: {
            statistics: {
                type: Object,
                required: true
            },
            lesson: {
                type: Object,
                required: true
            },
        },
    };

</script>

