<template>

    <div>
        Achievement

        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <congratulation-stat-block :lesson="lesson" :statistics="statistics"></congratulation-stat-block>
            </div>
        </div>

    </div>

</template>

<script>
    'use strict';

    import CongratulationStatBlock from './CongratulationStatBlock';

    export default {
        props: {
            statistics: {
                type: Object,
                required: true
            },
            newData: {
                type: Object,
                required: false,
            },
            course: {
                type: Object,
                required: true
            },
            lesson: {
                type: Object,
                required: true
            },
        },
        components: {CongratulationStatBlock},
        mounted() {},
        computed: {},
        methods: {
            onClick: function () {
                console.log('click');
            },
        }
    };

</script>

