<template>

    <div>

        <v-card class="mx-auto" max-width="500">
            <v-list rounded :flat="true" :avatar="true">
                <v-list-item-group v-model="selected" color="primary">
                    <v-subheader>REPORTS</v-subheader>
                    <v-list-item v-for="(sphere, i) in spheres" :key="i" v-on:click="onChange(i)">
                        <v-list-item-avatar>
                            <v-img :src="sphere.image" v-if="sphere.image"></v-img>
                            <v-img src="https://cdn.vuetifyjs.com/images/lists/1.jpg" v-else="sphere.image"></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title v-html="sphere.name"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-card>
    </div>




</template>

<script>
    'use strict';

    export default {
        data: () => ({
            selected: null,
        }),
        mounted() {
            this.$store.dispatch('GET_SPHERES');
            this.selected = this.$store.getters.SPHERE_INDEX;

            console.log('Mounterd', this.selected)
        },
        computed: {
            spheres() {
                return this.$store.getters.SPHERES;
            },
        },
        methods: {
            onChange(id) {
                console.log('Set store cur', id)
                this.$store.commit('SET_SPHERE_INDEX', id);
            },

        }
    };

</script>