{# FuzAppBundle:Advanced:addresses-theme.html.twig #}

{% block LessonCheckListItemType_row %}
    <div class="col-md-12">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block LessonCheckListItemType_widget %}

    {#{% form_theme form '@TetranzSelect2Entity/Form/fields.html.twig' %}#}

    <div class="row p-2 m-2 border-bottom">
        <div class="col">
            <div class="row">
                <div class="col-auto">
                    {{ form_row(form.label) }}
                    {{ form_widget(form.check) }}
                </div>
                <div class="col">
                    {{ form_row(form.label) }}
                    {{ form_widget(form.check) }}
                </div>
            </div>
        </div>
        <div class="col-auto">
            <a href="#" class="collection-remove btn btn-danger btn-sm" title="Delete fruit">
                <span class="fa fa-trash"></span>
            </a>
            <a href="#" class="collection-add btn btn-primary btn-sm" title="Add fruit"><span class="fa fa-plus"></span></a>

            <a href="#" class="collection-duplicate btn btn-default hide" title="Duplicate fruit"><span class="fa fa-th"></span></a>
        </div>
    </div>

{% endblock %}