
<div class="row">
    <div class="col-md-3">

        {{ form_row(form.course) }}
        {{ form_row(form.section) }}


        {{ form_row(form.status) }}

        {{ form_row(form.difficulty) }}
        {{ form_row(form.duration) }}


        {#{{ form_row(form.answers) }}#}

    </div>
    <div class="col-md-9">
        <div class="row">

            <div class="col">
                {{ form_row(form.name) }}

                {{ form_row(form.typeAdmission) }}
                {{ form_row(form.typeAnswer) }}
                {{ form_row(form.typeFinish) }}

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.startAt) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.endPeriod) }}
                    </div>
                </div>

                {{ form_row(form.periodic) }}

                <div id="periodic-type"></div>

            </div>

            <div class="col-auto">
                {{ form_row(form.image) }}
            </div>
        </div>

    </div>
</div>

{{ encore_entry_script_tags('js/course/lesson/periodic/vue') }}
{{ encore_entry_link_tags('js/course/lesson/periodic/vue') }}
