<div class="row">
    <div class="col-md-6">
        {{ form_row(form.purpose) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.bested) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.entry) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.conclusion) }}
    </div>
</div>