a.course-row {
  color: #cfffb6;
}
a.course-row:hover {
  color: #7eff3b;
}

.progress-bar-vertical {
  width: 5px;
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  margin-right: 0;
  float: left;

  border-radius: 0;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.scrollable-lesson-info {
  font-size: 14px;
  height:100px;
  overflow-y: scroll;
}



.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}


.card-img {
  width:150px !important;
}

.timeLine-progress-dotted {
  opacity: .7;
}
.timeLine-progress-dotted .progress-bar {
  border-left: 1px solid #000;
}
