{% extends 'base.html.twig' %}

{% import "Course/macro.html.twig" as macro %}


{% block title %} Наши курсы {% endblock %}
{% block h1 %}
    Тестер основной квантовой стратегии
    <small>Быть богатым и реализованным уже в этом году =)</small>
{% endblock %}

{% block body %}



    <div class="card  mb-5">
        <div class="card-body">

            <div style="max-width: 900px;">
                <canvas id="myChart"></canvas>
            </div>
            <hr />
            <div id="featuresProfit"></div>
        </div>
    </div>

    {{ encore_entry_script_tags('js/trade/tester/chart') }}
    {{ encore_entry_link_tags('js/trade/tester/chart') }}

{% endblock %}

{% block sidebar %}
    {% include '/Quants/tester/sidebar.html.twig' %}
{% endblock %}
