<div class="card">
    <div class="card-header">Управление</div>

    <div style="padding: 10px">

        <div class="form-group">
            <div class="row">
                <div class="col-md-7">
                    <span id="formCalcWorkers" class="text-warning"></span> /
                    <span id="formCalcTimeCompleted" class="text-success"></span> /
                    <span id="formCalcTimeAll" class="text-primary"></span>
                </div>
                <div class="col-md-5 text-right"><b class="text-success" id="formCalcProfit"></b></div>
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar bg-success" id="formProgressBar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <hr />

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control form-control-sm" id="formDateStart" placeholder="Старт" value="{{ start|date('Y-m-d') }}"/>
                </div>
                <div class="col-md-6">
                    <input class="form-control form-control-sm" id="formDateEnd" placeholder="Окончание" value="{{ end|date('Y-m-d') }}"/>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="formSymbol" class="col-md-7 col-form-label col-form-label-sm">Валюта</label>
            <div class="col-md-5">
                <input class="form-control form-control-sm " id="formSymbol" value="EURUSD"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="formMatProbe" class="col-md-7 col-form-label col-form-label-sm">Мат. Ожиддание(min)</label>
            <div class="col-md-5">
                <input type="text" class="form-control form-control-sm" id="formMatProbe" value="0.7" />
            </div>
        </div>
        <div class="form-group row">
            <label for="formMinProbe" class="col-md-7 col-form-label col-form-label-sm">Вероятность(min)</label>
            <div class="col-md-5">
                <input type="text" class="form-control form-control-sm" id="formMinProbe" value="0" />
            </div>
        </div>
        <div class="form-group row">
            <label for="formMinTrades" class="col-md-7 col-form-label col-form-label-sm">Трейдов(min)</label>
            <div class="col-md-5">
                <input type="text" class="form-control form-control-sm" id="formMinTrades" value="15" />
            </div>
        </div>


        <div class="form-group row">
            <label for="formTimeframes" class="col-md-7 col-form-label col-form-label-sm">Таймфреймов</label>
            <div class="col-md-5">
                <input type="text" class="form-control form-control-sm" id="formTimeframes" value="3" />
            </div>
        </div>


        <div class="form-group row">
            <label for="formStatDays" class="col-md-7 col-form-label col-form-label-sm">Количество дней для расчета </label>
            <div class="col-md-5">
                <input type="text" class="form-control form-control-sm" id="formStatDays" value="5" />
            </div>
        </div>


        <div class="form-group row">
            <label for="risk" class="col-md-5 col-form-label col-form-label-sm">Levels</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6"><input class="form-control form-control-sm" id="formTp" value="100-120" /></div>
                    <div class="col-md-6"><input class="form-control form-control-sm" id="formSl" value="20-120" /></div>
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <label for="formMmLotEnable" class="col-md-5 col-form-label col-form-label-sm">MM лот</label>
            <div class="col-md-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mmLot">
                    <label class="form-check-label" for="formMmLotEnable">Включить</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="risk" class="col-md-5 col-form-label col-form-label-sm">Тип</label>
            <div class="col-md-7">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="buyAllow" checked>
                    <label class="form-check-label" for="buyAllow">Buy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="sellAllow" checked>
                    <label class="form-check-label" for="sellAllow">Sell</label>
                </div>
            </div>
        </div>


        <div class="form-group row">
            <label for="formFilterLossCount" class="col-md-6 col-form-label col-form-label-sm">Фильтр подряд</label>
            <div class="col-md-6">
                <input type="text" class="form-control form-control-sm" id="formFilterLossCount" value="5" />
                <input type="text" class="form-control form-control-sm" id="formFilterLossTimeout" value="5" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="formTesterPause">
                    <label class="form-check-label" for="formTesterPause">пауза</label>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-success" id="btn-start"><i class="fa fa-money"></i> Запуск</button>
            </div>
        </div>



    </div>
</div>
<style>
    .form-group {
        margin-bottom: 0.3rem;
    }
</style>