
<template>

    <div>

        <h5>Выбор периодов</h5>
        <div>
            <date-picker v-model="dateRange" range lang="ru" format="YYYY-MM-DD" confirm
                         v-on:change="onDateRangeChange"></date-picker>
        </div>

        <div>
            <h6>Дни</h6>
            <div>
                <span class="periodic-day"
                      v-for="(date, index) in data.days"
                      v-bind:class="{'weekend': (date.dayOfWeek === 6 || date.dayOfWeek === 0), 'active': date.active}"
                      v-on:click="onClickDay($event, date)"
                      v-bind:title="date.date"
                >
                    {{date.day}}
                </span>
            </div>


            <h6>Дни недели</h6>
            <div>
                <span class="periodic-day"
                      v-for="(date, index) in data.daysOfWeek"
                      v-bind:class="{'weekend': (index === '6' || index === '7'), 'active': date.active}"
                      v-on:click="onClickDayWeek($event, index)"
                >
                    {{date.name}}
                </span>
            </div>

        </div>

    </div>

</template>

<script>
    'use strict';



    import moment from 'moment';
    import datePicker from 'vue2-datepicker';

    export default {
        el: "#periodic-type",
        components: {
            'date-picker': datePicker
        },
        data() {
            return {
                selector: 'lesson_periodic',

                dateRange: [],

                dataSrtingify: null,
                data: {
                    from: null,
                    to: null,

                    days: [],
                    daysCheck: [],
                    daysOfWeek: {
                        1:{name: 'пн', active: 0},
                        2:{name: 'вт', active: 0},
                        3:{name: 'ср', active: 0},
                        4:{name: 'чт', active: 0},
                        5:{name: 'пн', active: 0},
                        6:{name: 'сб', active: 0},
                        7:{name: 'вс', active: 0},
                    },
                    daysOfWeekCheck: [],
                }
            }
        },

        beforeMount: function () {
            this.dataSrtingify = document.getElementById(this.selector).value;
            console.log('load DAta', this.selector, this.dataSrtingify);

            if (this.dataSrtingify && this.dataSrtingify.length > 10) {
                this.data = JSON.parse(this.dataSrtingify);
                this.dateRange[0] = this.data.from;
                this.dateRange[1] = this.data.to;
            }
        },
        mounted() {
            this.loadData();
        },
        methods: {
            loadData() {
                console.log('load DAta', this.data);
            },
            onDateRangeChange() {
                let from = this.dateRange[0];
                let to = this.dateRange[1];

                this.data.from = moment(from).format('YYYY-MM-DD');
                this.data.to = moment(to).format('YYYY-MM-DD');

                this.data.days = this.getDates(from, to);
                this.data.daysCheck = [];

                this.setInputValue();
            },
            onClickDayWeek(event, index) {
                if (this.data.daysOfWeekCheck[index] === 1) {
                    delete this.data.daysOfWeekCheck[index];
                    this.data.daysOfWeek[index].active = 0;
                } else {
                    this.data.daysOfWeekCheck[index] = 1;
                    this.data.daysOfWeek[index].active = 1;
                }
                this.setInputValue();
            },
            onClickDay(event, dayData) {
                if (this.data.daysCheck[dayData.date] === 1) {
                    delete this.data.daysCheck[dayData.date];
                    this.data.days[dayData.date].active = 0;
                } else {
                    this.data.daysCheck[dayData.date] = 1;
                    this.data.days[dayData.date].active = 1;
                }
                this.setInputValue();
            },
            setInputValue() {
                this.dataSrtingify = JSON.stringify(this.data);
                document.getElementById(this.selector).value = this.dataSrtingify;
            },
            calcData() {

            },
            getDates(from, to) {
                let dateObject = {};
                let currentDate = moment(from);
                let stopDate = moment(to);
                while (currentDate <= stopDate) {
                    let date = moment(currentDate).format('YYYY-MM-DD');
                    dateObject[date] = {
                        day: moment(currentDate).format('DD'),
                        dayOfWeek: moment(currentDate).day(),
                        date: date,
                        active: this.data.daysCheck[date] === 1 ? 1 : 0,
                    };
                    currentDate = moment(currentDate).add(1, 'days');
                }
                return dateObject;
            },
        }
    };

</script>

