<form method="post" action="{{ path('method_of_learning_delete', {'id': method_of_learning.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ method_of_learning.id) }}">
    <button class="btn">Delete</button>
</form>
