{{ form_start(form) }}


{{ form_row(form.name) }}

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.type) }}
        {{ form_row(form.status) }}
        <hr/>
        {{ form_row(form.comment) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.purpose) }}
        {{ form_row(form.description) }}
    </div>
</div>

<button type="submit" class="btn btn-success float-right"><i class="fa fa-save"></i> Сохранить</button>
{{ form_end(form) }}
