{% extends 'base.html.twig' %}

{% block title %}Edit MethodOfLearning{% endblock %}

{% block body %}
    <h1>Edit MethodOfLearning</h1>

    {{ include('Method/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('method_of_learning_index') }}">back to list</a>

    {{ include('Method/_delete_form.html.twig') }}
{% endblock %}
