{% extends 'base.html.twig' %}

{% block title %}MethodOfLearning index{% endblock %}

{% block body %}
    <h1>MethodOfLearning index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Comment</th>
                <th>Purpose</th>
                <th>Type</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for method_of_learning in method_of_learnings %}
            <tr>
                <td>{{ method_of_learning.id }}</td>
                <td>{{ method_of_learning.name }}</td>
                <td>{{ method_of_learning.comment }}</td>
                <td>{{ method_of_learning.purpose }}</td>
                <td>{{ method_of_learning.type }}</td>
                <td>{{ method_of_learning.status }}</td>
                <td>{{ method_of_learning.createdAt ? method_of_learning.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('method_of_learning_show', {'id': method_of_learning.id}) }}">show</a>
                    <a href="{{ path('method_of_learning_edit', {'id': method_of_learning.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('method_of_learning_new') }}">Create new</a>
{% endblock %}
