{% extends 'base.html.twig' %}

{% block title %}New MethodOfLearning{% endblock %}

{% block body %}
    <h1>Create new MethodOfLearning</h1>

    {{ include('Method/_form.html.twig') }}

    <a href="{{ path('method_of_learning_index') }}">back to list</a>
{% endblock %}
