{% extends 'base.html.twig' %}

{% block title %}MethodOfLearning{% endblock %}

{% block body %}
    <h1>MethodOfLearning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ method_of_learning.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ method_of_learning.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ method_of_learning.description }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ method_of_learning.comment }}</td>
            </tr>
            <tr>
                <th>Purpose</th>
                <td>{{ method_of_learning.purpose }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ method_of_learning.type }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ method_of_learning.status }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ method_of_learning.createdAt ? method_of_learning.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ method_of_learning.updatedAt ? method_of_learning.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('method_of_learning_index') }}">back to list</a>

    <a href="{{ path('method_of_learning_edit', {'id': method_of_learning.id}) }}">edit</a>

    {{ include('Method/_delete_form.html.twig') }}
{% endblock %}
