<div class="controls-block text-right">
    {% if not course.isNewRecord %}
        <a href="{{ path('course_create_programm', {programm: course.id}) }}" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i> Создать курс
        </a>
    {% endif %}
</div>


{% for chaldCourse in course.courses %}
    <div class="row pb-3 mb-3 border-bottom">
        <article class="col-md-12">
            <div class="row">
                <div class="col-auto">
                    <img src="{{ chaldCourse.image | get_image_url('square') }}" class="img-thumbnail w-auto">
                </div>
                <div class="col">
                    <h2>{{ chaldCourse.name }}</h2>
                    <p>{{ chaldCourse.annotation|raw }}</p>
                </div>
            </div>

            <div class="controls-block text-right">

                <div class="clearfix">
                    <ul class="list-inline float-left">
                        <li class="list-inline-item"><a href="#">Today</a></li>
                        <li class="list-inline-item">
                            <a href="#"><span class="glyphicon glyphicon-comment"></span> 2Comments</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><span class="glyphicon glyphicon-share"></span> 8Shares</a>
                        </li>
                    </ul>
                    <div class="float-right">
                        <a href="{{ path('course_update', {course: chaldCourse.id}) }}" class="btn btn-primary btn-sm">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>

            </div>
        </article>
    </div>
{% endfor %}

