<div class="card">
    <div class="card-header">
        Гельштальт
    </div>
    <div class="card-body">
        {{ form_row(form.maxDifficultly) }}
        {{ form_row(form.negativeRatio) }}
    </div>
</div>