
<div class="row">
    <div class="col-md-3">
        {{ form_row(form.imageBig) }}
        {{ form_row(form.image) }}

        <hr />

        {{ form_row(form.type) }}
        {{ form_row(form.status) }}
    </div>
    <div class="col-md-9">
        {{ form_row(form.name) }}
        {{ form_row(form.annotation) }}
        {{ form_row(form.description) }}
    </div>
</div>
