<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вы успешно поступили на курс: {{ courseName }}</title>
</head>
<body>
<div class="container">
    <p>{{ username }}, добро пожаловать на новый курс!</p>
    <p>Поздравляем Вас с успешным поступление на обучение на курс:
        <a href="{{ host }}{{ path('course_auditorium_learn', {'course': courseId}) }}">{{ courseName }}</a>
    </p>
</div>
</body>
</html>