<template>

    <div>

        <loading :loading="loading"></loading>


        <div class="row">
            <div class="col-md-6">
                <div class="scroll-container">
                    <div v-for="(attributes, name) in data.entities" :key="name" v-on:click="onClickEdit(name)" class="grouped">
                        <div class="row row-attribute">
                            <div class="col-md-10">{{name}}</div>
                            <div class="col-md-2">-></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" :class="{ 'form-group--error': $v.formEntity.name.$error }">
                    <input class="form-control" v-model="formEntity.name" placeholder="Наименование" :class="{ 'is-invalid': $v.formEntity.name.$error,  'is-valid': !$v.formEntity.name.$error}">
                </div>
                <div class="invalid-feedback" v-if="!$v.formEntity.name.required">
                    Данное поле обязательное для заполнения
                </div>
                <div class="invalid-feedback" v-if="!$v.formEntity.name.minLength">
                    Данное поле должно содержать не менее {{$v.formEntity.name.$params.minLength.min}} символов
                </div>

                <div class="form-group" :class="{ 'form-group--error': $v.formEntity.entityClass.$error }">
                    <input class="form-control" v-model="formEntity.entityClass" placeholder="Класс" :class="{ 'is-invalid': $v.formEntity.entityClass.$error,  'is-valid': !$v.formEntity.name.$error}">
                </div>
                <div class="invalid-feedback" v-if="!$v.formEntity.entityClass.required">
                    Данное поле обязательное для заполнения
                </div>
                <div class="invalid-feedback" v-if="!$v.formEntity.entityClass.minLength">
                    Данное поле должно содержать не менее {{$v.formEntity.entityClass.$params.minLength.min}} символов
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-default"  v-on:click="onClickCancelEdit">
                            Отменить
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block" :class="{ 'btn-primary': editMode === 'edit',  'btn-success':  editMode === 'add'}" v-on:click="onClickSave">
                            {{editMode === 'add' ? 'Добавить' : 'Сохранить'}}
                        </button>
                    </div>
                </div>




                <div class="scroll-container">
                    <div v-for="(attributes, grouped) in data.attributes" :key="grouped" class="grouped">
                        <h3>{{grouped}}</h3>

                        <div v-for="(attribute, index) in attributes" :key="attribute.id">
                            <label :for="('checkbox' + grouped + index)">
                                <input type="checkbox" :id="('checkbox' + grouped + index)" v-model="data.attributes[grouped][index].checked" class="checkbox-inline">
                                <span class="checkbox-label">{{attribute.name}}</span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</template>

<script>
    'use strict';

    import axios from 'axios';

    import Loading from '../../../../../../../assets/js/vue/elements/loading/Loading'
    import {required, minLength} from 'vuelidate/lib/validators';

    const routes = require('../../../../../../../assets/js/fos_js_routes.json');
    const Routing = require('../../../../../../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js');

    Routing.setRoutingData(routes);

    export default {
        el: "#app-eav-entity-attributes",
        components: {Loading},
        data() {
            return {
                loading: false,
                data: [],
                editMode: 'edit',
                formEntity: {
                    id: null,
                    name: null,
                    entityClass: false,
                    attributes: []
                }
            }
        },
        mounted() {
            this.loadData();
        },

        validations: {
            formEntity: {
                name: {required, minLength: minLength(5)},
                entityClass: {required, minLength: minLength(10)},
            }
        },
        methods: {
            loadData() {
                this.loading = true;

                axios
                    //.get(Routing.generate('eav_api_get_attributes'))
                    .get('/api/eav/get-entity-attributes')
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        this.data.entities   = this.reformatEntities(data.entities);
                        this.data.attributes = data.attributes;

                        this.loading  = false;
                        this.editMode = 'add';
                        this.clearForm();
                        this.attributesChecked();

                        console.log('Data', this.data);
                    })
                    .catch((error) => {
                        console.log(error);

                        this.loading = false;
                    });
            },

            sendAttributesEntity: function () {

                this.setCheckedAttributes()

                const data = JSON.stringify(this.formEntity);
                axios
                    .post('/api/eav/set-attributes-entity', data)
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        if (data.success) {
                            this.editMode = 'add';

                            this.loadData();
                            this.clearForm();
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },

            setCheckedAttributes: function () {
                let $this  = this;
                let ids = [];
                $.each(this.data.attributes, function(group, items) {
                    $.each(items, function(index, attribute) {
                           if (attribute.checked) {
                               $this.formEntity.attributes.push(attribute.id)
                           }
                    });
                });
            },
            attributesChecked: function (name) {
                let entity = name ? this.getEntityByName(name) : null;
                let $this  = this;

                $.each(this.data.attributes, function(group, items) {
                    $.each(items, function(index, attribute) {
                        if (entity) {
                            $.each(entity.attributes, function(index2, entityAttribute) {
                                if (entityAttribute.attribute.id === attribute.id) {
                                    $this.data.attributes[group][index].checked = true;
                                }
                            });
                        } else {
                            $this.data.attributes[group][index].checked = false;
                        }
                    });
                });
            },
            onClickEdit: function (name) {
                this.clearForm();

                let $this  = this;
                let entity = this.getEntityByName(name);

                $this.formEntity.id = entity.id;
                $this.formEntity.name = entity.name;
                $this.formEntity.entityClass = entity.entityClass;

                this.attributesChecked()
                this.attributesChecked(entity.name);

                $this.editMode = 'edit';
            },

            onClickCancelEdit: function () {
                this.clearForm();

                this.editMode = 'add';
            },

            getEntityByName: function(name) {
                let entitySearched;
                $.each(this.data.entities, function(nameEntity, entity) {
                    if (nameEntity === name) {
                        entitySearched = entity;
                    }
                });
                return entitySearched;
            },
            reformatEntities: function(data) {
                let entities = {};
                $.each(data, function(nameEntity, items) {
                    console.log('Items', items)
                    entities[nameEntity] =  {id:items[0].id ,name: nameEntity, entityClass:items[0].entityClass, attributes: items};
                });
                return entities;
            },
            onClickSave: function (event) {
                this.$v.formEntity.$touch();

                if (this.$v.formEntity.$error) {
                    return;
                }
                this.sendAttributesEntity();
            },

            clearForm: function () {
                this.formEntity.id = '';
                this.formEntity.name = '';
                this.formEntity.entityClass = '';
                this.formEntity.attributes = [];

                this.attributesChecked()
            }
        },
    };

</script>