{% extends 'base.html.twig' %}

{% import "Course/macro.html.twig" as macro %}


{% block title %} {{ course.name }} {% endblock %}
{% block h1 %} {{ course.name }} {% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            {{ course.name }}
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex p2">
                    <div class="p-2">
                        <img src="{{ course.image | get_image_url('square') }}" />
                    </div>
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <div class="">{{ course.annotation }}</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="float-left">

                </div>
                <div class="float-right">

                    {{ macro.courseControls(app.user, course) }}

                </div>
            </li>
        </ul>

    </div>

{% endblock %}

{% block sidebar %}
    {% include 'Course/sidebar.guest.html.twig' %}
{% endblock %}