{% extends 'base.html.twig' %}

{% import "Course/macro.html.twig" as macro %}


{% block title %} Наши курсы {% endblock %}
{% block h1 %}
    Наши курсы
    <small> вместе мы станем лучше!</small>
{% endblock %}

{% block body %}

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        {% for typeTab, dataTab in dataTabs %}
            {% if dataTab.pagination.getTotalItemCount > 0 %}
                <li class="nav-item">
                    <a class="nav-link {% if type == typeTab %}active{% endif %}" role="tab" aria-selected="true"
                       id="pills-{{ typeTab }}-tab" data-toggle="pill" href="#pills-{{ typeTab }}" aria-controls="pills-{{ typeTab }}"
                    >
                        {{ constant('CoursesBundle\\Entity\\Course::TYPES')[typeTab] }}
                        <span class="badge badge-light">{{ dataTab.pagination.getTotalItemCount }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="tab-content" id="pills-tabContent">

        {% for typeTab, dataTab in dataTabs %}

            <div class="tab-pane fade {% if type == typeTab %}show active{% endif %}" role="tabpanel"
                 id="pills-{{ typeTab }}" aria-labelledby="pills-{{ typeTab }}-tab">

                <div class="">
                    <b>Всего записей:</b> {{ dataTab.pagination.getTotalItemCount }}
                </div>

                {% for course in dataTab.pagination %}

                    <div class="card  mb-5">
                        <div class="card-body">

                            <h4>
                                <a href="{{ path('course_view', {course: course.id}) }}" class="text-dark">{{ course.name }}</a>
                            </h4>

                            <div class="row">
                                <div class="col-auto">
                                    <a href="{{ path('course_view', {course: course.id}) }}">
                                        <img class="img-fluid rounded mb-3 mb-md-0"
                                             src="{{ course.image | get_image_url('small') }}" alt="{{ course.name }}">
                                        <h5 class="position-absolute topleft-10 opacity-1">
                                <span class="badge badge-danger">
                                {{ constant('CoursesBundle\\Entity\\Course::TYPES')[course.type] }}
                                </span>
                                        </h5>
                                    </a>
                                </div>
                                <div class="col pl-md-0">

                                    <div class="d-flex align-items-start flex-column h-100">
                                        <div class="w-100 mb-auto">

                                            <div class="text-muted">
                                                {{ course.annotation | raw }}
                                            </div>

                                        </div>
                                        <div class="w-100">
                                            <div class="row">
                                                <div class="col-auto">
                                                    {% if course.programm %}
                                                        <small class="text-muted">Программа:</small>
                                                        <small class="badge badge-success">{{ course.programm.name }}</small>
                                                    {% endif %}
                                                    <small class="badge badge-light">блоков: {{ course.sections|length }}</small>
                                                    <small class="badge badge-light">уроков: {{ course.lessons|length }}</small>
                                                </div>
                                                <div class="col text-right">

                                                    {{ macro.courseControls(app.user, course) }}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-white">
                            {{ macro.courseLineInfo(course) }}
                        </div>
                    </div>




                {% endfor %}

                <div class="navigation text-right">
                    {{ knp_pagination_render(dataTab.pagination) }}
                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block sidebar %}
    {% include 'Course/sidebar.guest.html.twig' %}
{% endblock %}