{% macro courseControls(user, course) %}

    {% if is_granted(constant('CoursesBundle\\Entity\\User::ROLE_USER'), course) %}
        {% if is_granted(constant('CoursesBundle\\Security\\CourseVoter::OWNER'), course) %}
            <a href="{{ path('course_update', {course: course.id}) }}"
               class="btn btn-light btn-sm">
                <i class="fa fa-edit"></i>
            </a>
        {% endif %}

        {% set userCourseLink = user.getCourseLink(course) %}

        {% if userCourseLink and userCourseLink.status == constant('CoursesBundle\\Entity\\CourseUserStudent::STATUS_FINISH') %}
            <a href="{{ path('course_auditorium_learn', {course: course.id}) }}"
               class="btn btn-light btn-sm">
                <i class="em em-yellow_heart"></i> Курс успешно пройден!
            </a>
        {% elseif userCourseLink and userCourseLink.status == constant('CoursesBundle\\Entity\\CourseUserStudent::STATUS_CURRENT') %}
            <a href="{{ path('course_auditorium_learn', {course: course.id}) }}"
               class="btn btn-primary btn-sm">
                <i class="fa fa-hourglass-start"></i> Продложить обучение
            </a>
        {% else %}
            <a href="{{ path('course_auditorium_start', {course: course.id}) }}"
               class="btn btn-success btn-sm">
                <i class="fa fa-play"></i> Начать
            </a>
        {% endif %}
    {% else %}
        <a href="{{ path('register') }}" class="btn btn-light btn-sm">
            <i class="fa fa-user-plus"></i> Зарегистрироваться
        </a>
    {% endif %}

{% endmacro %}


{% macro courseLineInfo(course) %}
    <ul class="list-inline m-0 text-muted">
        <li class="list-inline-item d-none d-sm-inline">
            <img src="{{ course.createdBy.avatar|get_image_url('xs') }}" class="image-icon rounded">
            <a href="{{ path('user_profile') }}">{{ course.createdBy.name }}</a>
        </li>
        <li class="list-inline-item"><i class="fa fa-calendar"></i> {{ course.createdAt|date('d.m.Y') }}</li>
        <li class="list-inline-item"><i class="fa fa-check"></i> 44</li>
        <li class="list-inline-item"><i class="fa fa-comment"></i> 0</li>

        <li class="list-inline-item float-right">
            <button class="p-0 pl-2 pr-2 btn btn-sm btn-light" aria-pressed="true">
                <i class="fa fa-heart text-danger fa-bold"></i> 2
            </button>
        </li>
    </ul>
{% endmacro %}
