{% if course is defined %}
<a href="{{ path('course_subscribe_user', {course:course.id}) }}" class="list-group-item list-group-item-action">
    <i class="fa fa-user-plus text-success"></i> Записать пользователя
</a>
{% endif %}