{% extends 'base.html.twig' %}

{% import "Course/macro.html.twig" as macro %}


{% block title %} {{ course.name }} {% endblock %}
{% block h1 %} {{ course.name }} {% endblock %}

{% block body %}

    <div class="card  mb-5">
        <div class="card-body">


            <h4>
                <a href="{{ path('course_view', {course: course.id}) }}" class="text-dark">{{ course.name }}</a>
            </h4>

            <div class="row">
                <div class="col-auto">
                    <a href="{{ path('course_view', {course: course.id}) }}">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ course.image | get_image_url('small') }}" alt="{{ course.name }}">
                        <h5 class="position-absolute topleft-10 opacity-1">
                                <span class="badge badge-danger">
                                {{ constant('CoursesBundle\\Entity\\Course::TYPES')[course.type] }}
                                </span>
                        </h5>
                    </a>

                    <hr />

                    <ul class="list-group">
                        <li class="list-group-item active">Статистика</li>
                        <li class="list-group-item"><i class="badge badge-pill">{{ course.students|length }}</i> Учеников</li>
                        <li class="list-group-item"><i class="badge badge-pill">100%</i> Рейтинг</li>
                        <li class="list-group-item">Блоков <i class="badge badge-pill">{{ course.sections|length }}</i></li>
                        <li class="list-group-item">Уроков <i class="badge badge-pill">{{ course.lessons|length }}</i></li>

                        {% if videos|length %}<li class="list-group-item">Видео <i class="badge badge-pill">{{ videos|length }}</i></li>{% endif %}
                        {% if tests|length %}<li class="list-group-item">Тестов <i class="badge badge-pill">{{ tests|length }}</i></li>{% endif %}
                        {% if audios|length %}<li class="list-group-item">Аудио <i class="badge badge-pill">{{ audios|length }}</i></li>{% endif %}
                        {% if checks|length %}<li class="list-group-item">Чеклистов <i class="badge badge-pill">{{ checks|length }}</i></li>{% endif %}

                    </ul>

                </div>
                <div class="col pl-md-0">

                    <div class="d-flex align-items-start flex-column h-100">
                        <div class="w-100 mb-auto">

                            <div class="text-muted">
                                {{ course.description | raw }}
                            </div>

                        </div>
                        <div class="w-100">
                            <div class="row">
                                <div class="col-auto">
                                    <small class="badge badge-light">блоков: {{ course.sections|length }}</small>
                                    <small class="badge badge-light">уроков: {{ course.lessons|length }}</small>
                                </div>
                                <div class="col text-right">

                                    {{ macro.courseControls(app.user, course) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white">
            {{ macro.courseLineInfo(course) }}
        </div>
    </div>

{% endblock %}

{% block sidebar %}
    {% include 'Course/sidebar.guest.html.twig' %}
{% endblock %}