{% extends 'base.html.twig' %}

{% block title %} Курс: {{ course.name }} {% endblock %}
{% block h1 %}  {{ course.name }} <small>Продолжить обучение</small> {% endblock %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            {{ course.name }}
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="d-flex p2">
                    <div class="p-2">
                        <img src="{{ course.image | get_image_url('square') }}" />
                    </div>
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <div class="">{{ course.annotation }}</div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="float-left">

                </div>
                <div class="float-right">

                    {% if is_granted(constant('CoursesBundle\\Security\\CourseVoter::OWNER'), course) %}
                        <a href="{{ path('course_update', {course: course.id}) }}" class="btn btn-success"><i class="fa fa-edit"></i></a>
                    {% endif %}

                    <a href="{{ path('course_auditorium_learn_lesson', {course: course.id}) }}" class="btn btn-primary">
                        <i class="fa fa-hourglass-start"></i> Продложить
                    </a>

                </div>
            </li>
        </ul>

    </div>

{% endblock %}

{% block sidebar %}
    {% include 'Course/auditorium/sidebar.student.course.html.twig' %}
{% endblock %}