<template>

    <div>

        <v-row class="mb-6">
            <v-col md="4">
                Sidebar
            </v-col>
            <v-col md="8">
                Select
            </v-col>
        </v-row>



    </div>

    


</template>

<script>
    'use strict';

    export default {
        data: () => ({
            selected: null,
        }),
        mounted() {
            this.$store.dispatch('GET_GOALS_MY');
            this.selected = this.$store.getters.GOALS_MY_CUR;

            console.log('Mounterd', this.selected)
        },
        computed: {
            goalsMy() {
                return this.$store.getters.GOALS_MY;
            },
        },
        methods: {
            onChange(id) {
                console.log('Set store cur', id)
                this.$store.commit('SET_GOALS_MY_CUR', id);
            },

        }
    };

</script>