<template>

    <v-app>

        <loading :loading="loading"></loading>


        <h1>Фильтры</h1>


        <v-text-field color="success" v-model="filters.search" placeholder="Искать"></v-text-field>


        <v-radio-group v-model="filters.type" row>
            <v-radio label="Текст" value="1"></v-radio>
            <v-radio label="Видео" value="2"></v-radio>
            <v-radio label="Аудио" value="3"></v-radio>
        </v-radio-group>

        <hr />

        <div v-for="(attributeEntity, index) in data" :key="index">
            <h5>{{attributeEntity.attribute.name}}</h5>

            <div v-for="value in attributeEntity.attribute.values" :key="value.id">
                {{value.name}}
                <v-checkbox
                        v-model="filters.values[value.id]"
                        :label="value.value"
                        color="blue"
                        :value="value.value"
                        class="mr-2 mt-0 mb-0"
                ></v-checkbox>
            </div>
        </div>


        <v-btn small color="primary">Primary</v-btn>

        <h1>Первое приложение!</h1>


    </v-app>

</template>

<script>
    'use strict';

    import axios from 'axios';
    import Loading from '../../../../../../../assets/js/vue/elements/loading/Loading'
    import vuetify from 'vuetify' // path to vuetify export

    export default {
        el: "#app-affirmation-catalog-filters",
        render: h => h(App),
        components: {Loading},
        vuetify,
        data() {
            return {
                e1: 0,
                loading: false,
                data: [],
                filters: {
                    search: '',
                    type: '1',
                    values: {}
                }
            }
        },
        mounted() {
            this.loadFilters();
            console.log(process.env)
        },
        methods: {
            loadFilters() {
                this.loading = true;

                axios
                //.get(Routing.generate('eav_api_get_attributes'))
                    .get('/api/affirmations/get-catalog-filters')
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);
                        this.data = data.data;

                        this.loadValues();

                        console.log('DATA', this.data)

                        this.loading = false;
                    })
                    .catch((error) => {
                        console.log(error);

                        this.loading = false;
                    });
            },

            loadValues () {
                for (let index in this.data) {
                    for (let indexValue in this.data[index].attribute.values) {
                        let id = this.data[index].attribute.values[indexValue].id;
                        this.filters.values[id] = false;
                    }
                }
            }
        },
    };

</script>