<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# @TODO - добавить в проект иконки для vuetify без cdn #}
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('js/imports') }}
        {{ encore_entry_link_tags('css/template') }}
    {% endblock %}

</head>
<body>

{% include 'header.menu.primary.html.twig' %}

{% include 'header.menu.second.html.twig' %}

<main role="main" class="container wrap shadow-sm">

    <div class="app-breadcrumbs">{{ wo_render_breadcrumbs() }}</div>

    <div class="row">

        <div class="col-md-3 order-1" id="sticky-sidebar">
            <div class="sticky-top">
                {% block sidebar %}{% endblock %}
            </div>
        </div>

        <div class="col order-2" id="main">

            <h1>{% block h1 %}{% endblock %}</h1>

            {% block body %}{% endblock %}

        </div>

    </div>

</main>


{% include 'footer.html.twig' %}

{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="app-notice d-none" data-color="{{ type }}">{{ message | raw }}</div>
    {% endfor %}
{% endfor %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/fosjsrouting') }}
    {{ encore_entry_script_tags('js/imports') }}
{% endblock %}

</body>
</html>
