<header>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {{ knp_menu_render('mainMenuLeft') }}

                {{ knp_menu_render('mainTopRight', {'allow_safe_labels': true}) | raw }}

            </div>

        </div>
    </nav>
</header>