.scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
  padding: 10px;
  border: 1px #f7f7f7 solid;
  background-color: aliceblue;
}

.grouped {
  padding: 10px;
  border: 1px #f7f7f7 solid;
  border-radius: 5px;
  margin: 5px auto;
  background-color: white;
}

.values-container {
  margin: 20px 0;
  border-top: 1px solid #ccc;
  padding: 5px;
}

.values-container .row {
  padding: 5px;
}

.row-attribute:hover {
  background: #eaffea;
  cursor: pointer;
}

.checkbox-label {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}