/** Breadcrumb **/


.app-breadcrumbs {
  .breadcrumb {
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: 0 0 0.25rem 0.25rem;
    color: #3c5f46;

    .separator {
      color: brown;
      padding: 0 5px;
    }

    a {
      color: #157f58;
    }
    a:hover {
      color: #451996;
      text-decoration: none;
    }
  }
}