<template>

    <div>

        <loading :loading="loading"></loading>

        <course-congratulation
                v-if="congratulationData.enable"
                :statistics="congratulationData.statistics"
                :newData="congratulationData.newData"
                :course="congratulationData.lesson.course"
                :lesson="congratulationData.lesson"
        ></course-congratulation>

        <div class="m-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-success h-100">
                        <i class="fa fa-bullseye text-danger"></i> <span v-if="lesson" v-html="lesson.purpose"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-success h-100">
                        <i class="em em-up"></i> <span v-if="lesson" v-html="lesson.bested"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3">
            <div class="timeline timeline-parts" v-if="currentPart && lesson.parts.length > 1">

                <div class="wrap-steps">

                    <div v-for="(part, index) in lesson.parts" class="step "
                         v-bind:class="{ active: index <= currentPartStep, last: index == currentPartStep}"
                         v-on:click="onBtnPartStepClick($event, index)">
                        <span></span>
                        <span>{{ part.name }}</span>
                    </div>

                </div>

            </div>


            <template v-if="currentPart">

                <div class="text-center" v-if="currentPart.type == 2">
                    <youtube :video-id="currentPart.link" :player-vars="playerVars"></youtube>
                </div>


                <div v-if="currentPart.type == 1" v-html="currentPart.text"></div>

                <div v-if="currentPart.type == 3">
                    AUDIO
                </div>

                <div v-if="currentPart.type == 5">
                    TEST
                </div>

                <div v-if="currentPart.type == 6">
                    CHECKLIST
                </div>


            </template>

            <form @submit.prevent="onSubmitLesson">
                <input type="hidden" value="1"/>

                <template v-if="lesson && isLastPart">

                    <div v-if="lesson.conclusion">
                        <b>Умозаключение: </b><br/>

                        <p v-html="lesson.conclusion"></p>
                    </div>


                    <div class="text-primary m-2" v-if="!answerOptions.require && !answerOptions.view && isCurrentLesson()" v-on:click="onClickAnswerViewSet()">
                        <i class="fa fa-plus"></i> Добавть отчет
                    </div>

                    <div v-if="isCurrentLesson() && (answerOptions.required || answerOptions.view)">

                        <hr/>

                        <div class="form-group">
                            <label class="control-label" for="form-answer"><b>Ответ/отчет</b></label>

                            <textarea rows="6" id="form-answer" class="form-control form-control-success"
                                      v-model="form.answer"
                                      :class="{ 'is-invalid': $v.form.answer.$error,  'is-valid': !$v.form.answer.$error}">

                        </textarea>

                            <div class="invalid-feedback" v-if="!$v.form.answer.required">
                                Данное поле обязательное для заполнения
                            </div>

                            <div class="invalid-feedback" v-if="!$v.form.answer.minLength">
                                Данное поле должно содержать не менее 50 символов
                            </div>

                        </div>

                    </div>

                    <div v-if="isFinishedLesson() && lessonLink.answer">
                        <b>Ответ/отчет</b>
                        <div class="text-success">
                            {{lessonLink.answer}}
                        </div>
                    </div>

                </template>


                <div class="controls-block text-center">
                    <button type="button" class="btn btn-light" v-on:click="onBtnPartPrevClick" v-bind:class="{ invisible: !currentPartStep }">
                        <i class="fa fa-chevron-left"></i> Назад
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="onBtnPartNextClick" v-bind:class="{ 'd-none': isLastPart }">
                        Вперёд <i class="fa fa-chevron-right"></i>
                    </button>
                    <button class="btn btn-success" type="submit" v-if="isCurrentLesson()" v-bind:class="{ 'd-none': !isLastPart }">
                        <i class="fa fa-check"></i> Я молодец
                    </button>
                </div>

            </form>
        </div>

    </div>

</template>

<script>
    'use strict';

    import CourseCongratulation from '../../elements/courseCongratulation/CourseCongratulation';
    import Loading from '../../../../../../../assets/js/vue/elements/loading/Loading'
    import axios from 'axios';
    import {required, email, minLength} from 'vuelidate/lib/validators';


    const routes = require('../../../../../../../assets/js/fos_js_routes.json');
    const Routing = require('../../../../../../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js');

    Routing.setRoutingData(routes);

    export default {
        el: "#app-lesson",
        components: {Loading, CourseCongratulation},
        props: {
            dataLessonLinkId: null
        },
        data() {
            return {
                loading: true,
                form: {
                    answer: "",
                },

                currentPartStep: 0,
                currentPart: null,
                isLastPart: false,
                answerOptions: {
                    view: false,
                    required: false,
                },
                lesson: null,
                lessonLink: null,

                playerVars: {/*autoplay: 1*/},

                congratulationData: {enable: false, newData: {}, statistics: {}}
            }
        },
        // Модель для валидации, которую Vuelidate превратит в computed-поле $v
        validations: {
            form: {
                answer: {required, minLength: minLength(50)},
            }
        },

        beforeMount: function () {
            this.dataLessonLinkId = this.$el.attributes['data-lesson-link-id'].value;
        },
        mounted() {
            this.loadData();
            console.log('Mounted', this);
        },
        methods: {
            loadData() {
                this.loading = true;

                axios
                    .get('/auditorium/lessons/api/learn/' + this.dataLessonLinkId)
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);
                        this.lesson = data.lesson;
                        this.lessonLink = data.lessonLink;

                        this.initDataApp();

                        this.loading = false;
                    })
                    .catch((error) => {
                        console.log(error);
                        this.loading = false;
                    });
            },
            initDataApp() {
                this.answerOptions.required = this.lesson.typeAnswer == 1 || this.lesson.typeAnswer == 3;
                this.answerOptions.view = this.answerOptions.required;

                this.setSection(0);
            },
            setSection(index) {
                console.log('DATA', this.lesson);

                this.currentPart = this.lesson.parts[index];
                this.currentPartStep = index;

                this.isLastPart = this.lesson.parts.length === (index + 1) ? true : false;
            },

            sendAnswer() {
                const data = JSON.stringify({id: this.lesson.id, answer: this.form.answer});

                this.loading = true;
                axios
                    .post('/auditorium/lessons/api/learn/lesson/answer', data)
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        this.loading = false;

                        this.finishCongratulations(data);
                    })
                    .catch((error) => {
                        console.log(error);

                        this.loading = false;
                    });
            },

            isCurrentLesson() {
                return this.lessonLink && this.lessonLink.status === 1;
            },

            isFinishedLesson() {
                return this.lessonLink && this.lessonLink.status === 2;
            },

            redirectAfterCongratulation() {
                window.location.href = Routing.generate('courses_auditorium_dashboard');
            },

            finishCongratulations(data) {
                data.congratulation.enable = true;
                this.congratulationData    = data.congratulation;
            },

            onSubmitLesson: function (event) {
                if (this.answerOptions.required) {
                    this.$v.form.$touch();

                    if (this.$v.form.$error) {
                        return;
                    }
                }
                this.sendAnswer();
            },

            onBtnPartNextClick: function (event) {
                this.setSection(++this.currentPartStep);
            },
            onBtnPartPrevClick: function (event) {
                this.setSection(--this.currentPartStep);
            },
            onBtnPartStepClick: function (event, index) {
                this.setSection(index);
            },

            onClickAnswerViewSet: function () {
                this.answerOptions.view = true;
            },

            onCongratulationContinue: function () {
                this.redirectAfterCongratulation();
            },
        }
    };

</script>