<template>

    <div>

        <loading :loading="loading"></loading>


        <div class="row">
            <div class="col-md-6">
                <div><input class="form-control" placeholder="Искать" v-model="search"/></div>

                <div class="scroll-container">
                    <div v-for="(attributes, grouped) in data.attributes" :key="grouped" class="grouped">
                        <h3>{{grouped}}</h3>

                        <div v-for="attribute in attributes" :key="attribute.id" v-on:click="onClickEdit(attribute.id)" v-if="attribute.hidden === undefined || !attribute.hidden">
                            <div class="row row-attribute">
                                <div class="col-md-8">{{attribute.name}}</div>
                                <div class="col-md-3">{{attribute.type}}</div>
                                <div class="col-md-1">{{attribute.id}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" :class="{ 'form-group--error': $v.form.name.$error }">
                    <input class="form-control" v-model="form.name" placeholder="Наименование" :class="{ 'is-invalid': $v.form.name.$error,  'is-valid': !$v.form.name.$error}">
                </div>
                    <div class="invalid-feedback" v-if="!$v.form.name.required">
                        Данное поле обязательное для заполнения
                    </div>
                    <div class="invalid-feedback" v-if="!$v.form.name.minLength">
                        Данное поле должно содержать не менее {{$v.form.name.$params.minLength.min}} символов
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" :class="{ 'form-group--error': $v.form.grouped.$error }">
                                <input class="form-control" v-model="form.grouped" placeholder="Группа" :class="{ 'is-invalid': $v.form.grouped.$error,  'is-valid': !$v.form.grouped.$error}">
                            </div>
                            <div class="invalid-feedback" v-if="!$v.form.grouped.required">
                                Данное поле обязательное для заполнения
                            </div>
                            <div class="invalid-feedback" v-if="!$v.form.grouped.minLength">
                                Данное поле должно содержать не менее {{$v.form.grouped.$params.minLength.min}} символов
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" v-model="form.type">
                                    <option v-for="item in data.types" :key="item[0]" :value="item[0]">{{item[1]}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block btn-default"  v-on:click="onClickCancelEdit">
                            Отменить
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-block" :class="{ 'btn-primary': editMode === 'edit',  'btn-success':  editMode === 'add'}" v-on:click="onClickSave">
                            {{editMode === 'add' ? 'Добавить' : 'Сохранить'}}
                        </button>
                    </div>
                </div>


                <div class="values-container">
                    <div class="text-right">
                        <button type="button" class="btn btn-sm btn-info" v-on:click="onClickAddValue">
                            <i class="fa fa-plus"></i> Добавить значение
                        </button>
                    </div>

                    <div class="values">
                        <div class="row" v-for="(value, index) in form.values">
                            <div class="col-md-10">
                                <input class="form-control" v-model="form.values[index].value" placeholder="значение">
                            </div>
                            <div class="col-md-2 text-right">
                                <button class="btn btn-sm btn-danger" v-on:click="onClickRemoveValue(index)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</template>

<script>
    'use strict';

    import axios from 'axios';

    import Loading from '../../../../../../../assets/js/vue/elements/loading/Loading'
    import {required, minLength} from 'vuelidate/lib/validators';

    const routes = require('../../../../../../../assets/js/fos_js_routes.json');
    const Routing = require('../../../../../../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js');

    Routing.setRoutingData(routes);

    export default {
        el: "#app-eav-attributes",
        components: {Loading},
        data() {
            return {
                loading: false,
                data: [],
                search: null,
                editMode: 'edit',
                form: {
                    id: null,
                    name: null,
                    type: false,
                    grouped: null,
                    values: []
                }
            }
        },
        mounted() {
            this.loadData();
        },

        validations: {
            form: {
                name: {required, minLength: minLength(3)},
                grouped: {required, minLength: minLength(5)},
            }
        },
        watch: {
            editMode: function (val) {
                console.log('Watch', val);
                if (val === 'add') {
                    this.form.type = this.data.types[0][0];
                }
            },
            search: function (val) {
                let $this = this;
                $.each(this.data.attributes, function(group, items) {
                    $.each(items, function(index, attribute) {
                        console.log('TEST', val, attribute.name, !!attribute.name.indexOf(val), $this.data.attributes[group][index])

                        if (val && !!attribute.name.indexOf(val)) {
                            $this.data.attributes[group][index].hidden = true;
                        } else {
                            $this.data.attributes[group][index].hidden = false;
                        }
                    });
                });

            }
        },
        methods: {
            loadData() {
                this.loading = true;

                axios
                    //.get(Routing.generate('eav_api_get_attributes'))
                    .get('/api/eav/get-attributes')
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        this.data.attributes = data.attributes;
                        this.data.types = Object.entries(data.types);

                        this.loading = false;
                        this.editMode = 'add';
                        this.clearForm();

                        console.log('Data', this.data, this.data.types[0][0]);
                    })
                    .catch((error) => {
                        console.log(error);

                        this.loading = false;
                    });
            },

            sendAttribute: function () {
                const data = JSON.stringify(this.form);
                axios
                    .post('/api/eav/set-attribute', data)
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        if (data.success) {
                            this.editMode = 'add';

                            this.loadData();
                            this.clearForm();
                        } else {
                            alert(data.message);
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            onClickEdit: function (id) {
                this.clearForm();

                let $this = this;

                $.each(this.data.attributes, function(group, items) {
                    console.log('Items', items)
                    $.each(items, function(index, attribute) {
                        if (attribute.id === id) {
                            $this.form.id = attribute.id;
                            $this.form.name = attribute.name;
                            $this.form.grouped = attribute.grouped;
                            $this.form.type = attribute.type;

                            $.each(attribute.values, function(index, value) {
                                $this.form.values.push(value);
                            });

                            $this.editMode = 'edit';
                        }
                    });
                });
            },
            onClickCancelEdit: function () {
                this.clearForm();

                this.editMode = 'add';
            },
            onClickSave: function (event) {
                this.$v.form.$touch();

                if (this.$v.form.$error) {
                    return;
                }
                this.sendAttribute();
            },

            onClickAddValue: function (event) {
                this.form.values.push({id: '', value: ''});
            },

            onClickRemoveValue: function (index) {
                console.log('Remove', index, this.form.values)
                this.form.values.splice(index, 1);
            },

            clearForm: function () {
                this.form.id = '';
                this.form.name = '';
                this.form.grouped = '';
                this.form.values = [];
            }
        },
    };

</script>