
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.confirmationCode) }}

        <hr />

        {{ form_row(form.bannedAt) }}
        {{ form_row(form.enabled) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.avatar) }}
        {{ form_row(form.name) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.phone) }}
    </div>
</div>
