<template>
    <tr v-if="(!show.lessonFinish && !isFinish()) || (show.lessonFinish && isFinish())">
        <td>
            <a v-if="data.images.image"
               v-bind:href="data.images.image.medium"
               :title="data.course.name"
               data-jbox-image="gallery">
                <img class="rounded" height="30px" v-bind:src="data.images.image.square"/>
            </a>

        </td>
        <th scope="row">

            <a :href="getCourseLink()" class="course-row">{{data.course.name}}</a>

            <!--<div class="progress timeLine-progress bg-secondary">
                <div class="progress-bar bg-success" role="progressbar"
                     v-bind:style="{ width: data.stat.percent + '%' }"
                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>-->

            <time-line-bar :data="data.timeline"></time-line-bar>

        </th>
        <td class="d-sm-none d-md-table-cell" v-bind:class="{'text-danger': data.stat.older}">
            <small v-if="data.userlessons.today">
                {{getDate(data.userlessons.today.startAt) }}
            </small>
        </td>
        <td>{{ data.stat.finish}}/{{data.stat.all }}</td>
        <td class="d-sm-none d-md-table-cell">{{ data.stat.percent }} %</td>
        <td>

            <button class="btn btn-success btn-sm" v-if="!isFinish() && isFinishFull()" v-on:click="onBtnCourseClick()">
                <i class="fa fa-arrow-alt-circle-right"></i>
            </button>

            <button class="btn btn-primary btn-sm" v-if="!isFinish() && !isFinishFull()" v-on:click="onBtnCourseAnswerClick()">
                <i class="fa fa-arrow-alt-circle-right"></i>
            </button>

            <div v-if="isFinish()">
                <i class="fa fa-check  text-success"></i>
            </div>

        </td>
    </tr>
</template>


<script>
    'use strict';

    import moment from 'moment';
    import TimeLineBar from './TimeLineBar';

    const routes = require('../../../../../../../../assets/js/fos_js_routes.json');
    const Routing = require('../../../../../../../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js');

    Routing.setRoutingData(routes);

    export default {
        components: {TimeLineBar},
        props: {
            show: Object,
            data: Object,
        },
        methods: {
            isFinishFull: function () {
                return this.data.userlessons.today && this.data.userlessons.today.lesson.typeFinish === 3;
            },
            onBtnCourseAnswerClick: function (event) {
                this.$modal.show('modal-periodic-answer', {courseData: this.data});
            },
            onBtnCourseClick: function (event) {
                window.location.href = Routing.generate('course_auditorium_lesson_learn', {lessonLink: this.data.userlessons.today.id});
            },
            isFinish: function () {
                return this.data.userlessons.today.status === 2;
            },

            getCourseLink: function () {
                return Routing.generate('course_auditorium_learn', {course: this.data.course.id});
            },

            getDate: (date) => {
                return moment(date).format('L')
            }
        },

    }
</script>
