<template>
    <tr v-if="(!show.lessonFinish && !isFinish()) || (show.lessonFinish && isFinish())">
        <td>
            <img class="rounded" v-if="data.images.image" height="30px"
                 v-bind:src="data.images.image.square"/>
        </td>
        <th scope="row">
            <a :href="getCourseLink()" class="course-row">{{data.course.name}}</a>

            <!--<div class="progress timeLine-progress bg-secondary">
                <div class="progress-bar bg-success" role="progressbar"
                     v-bind:style="{ width: data.stat.percent + '%' }"
                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>-->

            <time-line-bar :data="data.timeline"></time-line-bar>

        </th>
        <td class="d-sm-none d-md-table-cell" v-bind:class="{'text-danger': data.stat.older}">
            <small v-if="data.userlessons.today.startAt">
                {{getDate(data.userlessons.today.startAt) }}
            </small>
        </td>
        <td>{{ data.stat.finish}}/{{data.stat.all }}</td>
        <td class="d-sm-none d-md-table-cell">{{ data.stat.percent }} %</td>
        <td v-on:click="onBtnCourseClick()">
            <button class="btn btn-success btn-sm"><i class="fa fa-arrow-alt-circle-right"></i> </button>
        </td>
    </tr>

</template>


<script>
    'use strict';

    import moment from 'moment';
    import TimeLineBar from './TimeLineBar';

    const routes = require('../../../../../../../../assets/js/fos_js_routes.json');
    const Routing = require('../../../../../../../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js');

    Routing.setRoutingData(routes);

    export default {
        components: {TimeLineBar},
        props: {
            show: Object,
            data: Object,
        },
        methods: {
            onBtnCourseClick: function (event) {
                window.location.href = Routing.generate('course_auditorium_learn', {course: this.data.course.id});
            },

            isFinish: function() {
                return !this.data.userlessons.today || this.data.userlessons.today.status === 2;
            },
            getCourseLink: function () {
                return Routing.generate('course_auditorium_learn', {course: this.data.course.id});
            },

            getDate: (date) => {return moment(date).format('L')}
        },

    }
</script>
