<template>

    <div class="table-responsive dashboard-programm-list">
        <table class="table table-hover table-dark table-bordered">
            <thead>
            <th>-</th>
            <th>Дисциплина</th>
            <th class="d-sm-none d-md-table-cell">Дедлайн</th>
            <th>Уроки</th>
            <th class="d-sm-none d-md-table-cell">Завершено</th>
            <th>-</th>
            </thead>

            <!--<transition-group name="list" tag="thead">-->

                <template
                        v-for="data in courses"
                        v-if="(show.ended && data.courseLink.status === 2) || (show.current && data.courseLink.status === 1)"
                >
                    <base-component
                            v-if="!isPeriodical(data.course)"
                            :key="data.courseLink.status + 'course' + data.courseLink.course.id"
                            :data="data"
                            :show="show"
                    ></base-component>

                    <periodical-component
                            v-if="isPeriodical(data.course)"
                            :key="data.courseLink.status + 'course' + data.courseLink.course.id"
                            :data="data"
                            :show="show"
                    ></periodical-component>
                </template>

            <!--</transition-group>-->

        </table>


    </div>

</template>

<script>
    'use strict';

    import baseComponent from './DashboardAppBase'
    import periodicalComponent from './DashboardAppPeriodical'

    export default {
        props: {
            show: Object,
            courses: Array,
        },
        components: {
            'base-component': baseComponent,
            'periodical-component': periodicalComponent,
        },
        methods: {
            isPeriodical: function (course) {
                if (course.type === 3 || course.type === 4) {
                    return true;
                }
                return false;
            },
        }
    }
</script>
