<template>
    <div class="progress" v-bind:class="progressClass">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
             v-bind:class="getClass()"
             v-bind:style="{ height: percent + '%' }"
             v-bind:title="percent + '%'"
             ></div>
    </div>
</template>


<script>
    'use strict';

    export default {
        props: {
            progressClass: String,
            percent: Number,
        },
        methods: {
            getClass: function () {
                if (this.percent < 20) {
                    return 'bg-danger';
                }
                if (this.percent < 40) {
                    return 'bg-warning';
                }
                if (this.percent < 60) {
                    return 'bg-info';
                }
                if (this.percent < 80) {
                    return 'bg-primary';
                }
                return 'bg-success';
            },
        },
    }
</script>
