<template>
    <div class="progress timeLine-progress bg-secondary timeLine-progress-dotted">
        <div class="progress-bar" role="progressbar"
             :class="getClass(item)"
             v-for="item in data"
             v-bind:style="{ width: width + '%' }"
              aria-valuemin="0">
        </div>
    </div>
</template>


<script>
    'use strict';

    export default {
        props: {
            data: Object,
        },
        mounted() {
            console.log('ШТШЕ Зукшщвшсфд', this.data, Object.keys(this.data).length);
        },
        computed: {
            width: function () {
                return 100/Object.keys(this.data).length;
            }
        },
        methods: {
            getClass: function (item) {
                if (item.status === 2) {
                    return 'bg-success';
                }
                if (item.status === 1) {
                    return 'bg-primary';
                }
                if (item.status === 0) {
                    return 'bg-danger';
                }
                if (item.status === 3) {
                    return 'bg-secondary';
                }
            },
        },
    }
</script>
