
/** The spinner **/
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner,
.spinner:before {
  position: absolute;

  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: spinner .6s linear infinite;
}

.spinner-xs:before {
  width: 20px;
  height: 20px;
}

.spinner-sm:before {
  width: 40px;
  height: 40px;
}

.spinner-md:before {
  width: 60px;
  height: 60px;
}

.spinner-lg:before {
  width: 100px;
  height: 100px;
}

.spinner-absolute {
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

/* Animations */

.spinner-add,
.spinner-remove {
  animation-fill-mode: both;
  animation-duration: .4s;
}

.spinner-add {
  animation-name: spinner-add;
}

@keyframes spinner-add {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

.spinner-remove {
  animation-name: spinner-remove;
}

@keyframes spinner-remove {
  to {transform: scale(0);}
}

.buttonLoaded {
  position: relative;
}

/** The spinner END **/