<template>


    <modal :adaptive="true" height="auto" :scrollable="true" name="modal-congratulation">

        <div class="modal-congratulation-body">
            <transition name="component-fade" mode="out-in">
                <component
                        v-bind:is="view"
                        :statistics="statistics"
                        :newData="newData"
                        :course="course"
                        :lesson="lesson"
                ></component>
            </transition>
        </div>
        <div>
            <button class="btn btn-primary btn-lg btn-block" v-if="!isLastStep" v-on:click="onClickNext">
                <i class="fa fa-arrow-circle-o-right"></i> Следующий
            </button>

            <button class="btn btn-success btn-lg btn-block" v-if="isLastStep" v-on:click="onClickContinue">
                <i class="em em-heart_eyes"></i> Отлично!
            </button>
        </div>

    </modal>

</template>

<script>
    'use strict';

    require('./css/style.scss');

    import CongratulationAchievement from './components/CongratulationAchievement';
    import CongratulationCourse from './components/CongratulationCourse';
    import CongratulationLesson from './components/CongratulationLesson';
    import CongratulationLevel from './components/CongratulationLevel';

    export default {
        props: {
            statistics: {
                type: Object,
                required: true
            },
            newData: {
                type: Object,
                required: false,
            },
            course: {
                type: Object,
                required: true
            },
            lesson: {
                type: Object,
                required: true
            },
        },
        components: {CongratulationAchievement, CongratulationCourse, CongratulationLesson, CongratulationLevel},
        data() {
            return {
                steps: [],
            }
        },
        mounted() {
            this.setComponentsSteps();
            console.log('Congr DATA', this.statistics, this.newData, this.course, this.lesson);
            this.$modal.show('modal-congratulation');
        },
        computed: {
            view: function () {
                for (let i = 0; i < this.steps.length; i++) {
                    if (this.steps[i].enabled) {
                        console.log(i, this.steps, this.steps[i].component);
                        return this.steps[i].component;
                    }
                }
                return null;
            },
            isLastStep: function () {
                let iCurrent = 0;
                for (let i = 0; i < this.steps.length; i++) {
                    if (this.steps[i].enabled) {
                        iCurrent = i;
                    }
                }
                return (iCurrent+1) === this.steps.length;
            }
        },
        methods: {
            //setTimeout(this.redirectToCourse(), 1000 * this.achievements.length);
            setComponentsSteps: function () {
                if (this.newData.level) {
                    this.steps.push({enabled: false, component: 'congratulation-level'});
                }
                if (this.newData.achievements.length) {
                    this.steps.push({enabled: false, component: 'congratulation-achievement'});
                }
                if (this.newData.lesson) {
                    this.steps.push({enabled: false, component: 'congratulation-lesson'});
                }
                if (this.newData.course) {
                    this.steps.push({enabled: false, component: 'congratulation-course'});
                }

                console.log('Enabled', this.steps);

                if (this.steps.length > 0) {
                    this.steps[0].enabled = true;
                }

                console.log('Enabled STEPS', this.steps);
            },
            onClickNext: function () {
                let isDisabled = false;
                for (let i = 0; i < this.steps.length; i++) {
                    if (isDisabled) {
                        this.steps[i].enabled = true;
                        break;
                    }
                    if (this.steps[i].enabled) {
                        this.steps[i].enabled = false;
                        isDisabled = true;
                    }
                }
            },
            onClickContinue: function () {
                console.log('click');
                this.$modal.hide('modal-congratulation');

                this.$root.onCongratulationContinue();
            },
        }
    };

</script>

