{{ form_start(form) }}

<ul class="nav nav-tabs" id="Course-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="home"
           aria-selected="true">Основное</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sections-tab" data-toggle="tab" href="#roles" role="tab" aria-controls="profile"
           aria-selected="false">Права</a>
    </li>
</ul>
<div class="tab-content pt-4" id="myTabContent">
    <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
        {% include 'user/_tabs/update.base.html.twig' %}
    </div>
    <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="sections-tab">
        {% include 'user/_tabs/update.roles.html.twig' %}
    </div>
</div>


<div class="clearfix">
    <div class="float-left">
        <a href="{{ path('users_index') }}" class="btn btn-info"><i class="fa fa-list"></i> К списку</a>
    </div>
    <div class="float-right">
        <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Сохранить</button>
    </div>
</div>
{{ form_end(form) }}
