{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}
{% block h1 %}Edit User{% endblock %}

{% block body %}

    <div class="bg-white p-3">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
