{% extends 'base.html.twig' %}

{% block h1 %}User index{% endblock %}
{% block title %}User index{% endblock %}

{% block body %}

    <div class="clearfix mb-1">
        <div class="float-left"><b>Всего записей:</b> {{ pagination.getTotalItemCount }}</div>
        <a href="{{ path('user_new') }}" class="btn btn-success float-right"><i class="fa fa-plus"></i> Создать</a>
    </div>

    <!--{{ knp_pagination_filter(pagination, {'base.name': 'Name'}) }}-->
    <div class="overflow-auto bg-white">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th{% if pagination.isSorted('base.id') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Id', 'base.id') }}
                </th>
                <th{% if pagination.isSorted('base.email') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Email', 'base.email') }}
                </th>
                <th{% if pagination.isSorted('base.roles') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Роли', 'base.roles') }}
                </th>
                <th{% if pagination.isSorted('base.enabled') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Активен', 'base.enabled') }}
                </th>
                <th{% if pagination.isSorted('base.bannedAt') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Бан', 'base.bannedAt') }}
                </th>
                <th{% if pagination.isSorted('base.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Имя', 'base.name') }}
                </th>
                <th{% if pagination.isSorted('base.lastname') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Фамилия', 'base.lastname') }}
                </th>
                <th{% if pagination.isSorted('base.phone') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Телефон', 'base.phone') }}
                </th>

                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                    <td>{{ user.bannedAt ? user.bannedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.phone }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}"><i class="fa fa-eye"></i> </a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fa fa-edit"></i> </a>
                        <a href="{{ path('user_delete', {'id': user.id}) }}"><i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="15">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

