{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}
{% block h1 %}New User{% endblock %}

{% block body %}

    <div class="bg-white p-3">
        {{ include('user/_form.html.twig') }}
    </div>

{% endblock %}
