{% extends 'base.html.twig' %}

{% block title %}Отправить сообщение Администратору{% endblock %}

{% block body %}


    {{ form_start(form) }}

    <div class="card mb-3">
        <div class="card-header bg-primary"><i class="fa fa-envelope"></i> Отправка сообщения администратору</div>
        <div class="card-body">
            <h5 class="card-title"></h5>

            <div class="card-text row">
                <div class="col-auto">
                    {{ form_row(form.image) }}

                </div>
                <div class="col">
                    {{ form_row(form.type) }}
                    {{ form_row(form.message) }}
                </div>
            </div>

            <div class="card-footer bg-transparent controls-block text-right">
                <button class="btn btn-primary"><i class="fa fa-send"></i> Отправить</button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
