{# FuzAppBundle:Advanced:addresses-theme.html.twig #}

{% block CourseAchievementRuleType_row %}
    <div class="col-md-12">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block CourseAchievementRuleType_widget %}

    {#{% form_theme form '@TetranzSelect2Entity/Form/fields.html.twig' %}#}

    <div class="row p-2 m-2 border-bottom">
        <div class="col">
            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
        <div class="col-auto">

            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="collection-remove btn btn-danger btn-sm" title="Delete fruit"><span class="fa fa-trash"></span></a>
                    <a href="#" class="collection-add btn btn-primary btn-sm" title="Add fruit"><span class="fa fa-plus"></span></a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="collection-duplicate btn btn-default" title="Duplicate fruit"><span class="fa fa-th"></span></a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}