{% extends 'base.html.twig' %}

{% set name = lesson.id ? 'Редактирование' : 'Создание нового' %}

{% block title %}{{ name }} урока{% endblock %}
{% block h1 %}{{ name }} урока{% endblock %}

{% block body %}

    <div class="bg-white p-3">

        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {{ form_start(form) }}

        {{ form_errors(form) }}

        <ul class="nav nav-tabs" id="Lesson-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab" aria-controls="base"
                   aria-selected="true">Основное</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="content-tab" data-toggle="tab" href="#content" role="tab"
                   aria-controls="content" aria-selected="false">
                    Контент
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="sections-tab" data-toggle="tab" href="#parts" role="tab" aria-controls="parts"
                   aria-selected="false">
                    Части {% if lesson.parts|length %} <i
                            class="badge badge-success">{{ lesson.parts|length }} </i> {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="sections-tab" data-toggle="tab" href="#checklist" role="tab"
                   aria-controls="checklist" aria-selected="false">
                    Чеклист {% if lesson.checklist|length %} <i
                            class="badge badge-success">{{ lesson.checklist|length }} </i> {% endif %}
                </a>
            </li>
        </ul>
        <div class="tab-content pt-4" id="myTabContent">
            <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
                {% include 'Lesson/manage/_blocks/update.base.html.twig' %}
            </div>
            <div class="tab-pane fade" id="content" role="tabpanel" aria-labelledby="content-tab">
                {% include 'Lesson/manage/_blocks/update.content.html.twig' %}
            </div>
            <div class="tab-pane fade" id="parts" role="tabpanel" aria-labelledby="sections-tab">
                {% include 'Lesson/manage/_blocks/update.parts.html.twig' %}
            </div>
            <div class="tab-pane fade" id="checklist" role="tabpanel" aria-labelledby="sections-tab">
                {% include 'Lesson/manage/_blocks/update.checklist.html.twig' %}
            </div>
        </div>

        <div class="clearfix">
            <button type="submit" class="btn btn-success float-right"><i class="fa fa-save"></i> Сохранить</button>
            <div class="float-right"> {{ form_row(form.clone) }}</div>
        </div>

        {{ form_end(form) }}

    </div>

    {{ encore_entry_script_tags('js/form/collection') }}

{% endblock %}
