<template>

    <div>

        <loading :loading="loading"></loading>

        <course-congratulation
                v-if="congratulationData.enable"
                :statistics="congratulationData.statistics"
                :newData="congratulationData.newData"
                :course="congratulationData.lesson.course"
                :lesson="congratulationData.lesson"
        ></course-congratulation>

        <!--/* Filters */-->
        <div class="clearfix">
            <div class="btn-group float-left" role="group">
                <span class="badge">Уроки: </span>
                <button type="button"
                        v-on:click="onBtnViewListFilterClick($event, 'lessonFinish')"
                        class="btn btn-sm"
                        v-bind:class="{ 'btn-success': viewList.show.lessonFinish, 'btn-light': !viewList.show.lessonFinish}">
                    Завершенные сегодня
                </button>
            </div>


            <div class="btn-group float-right" role="group">
                <span class="badge">Курсы: </span>
                <button type="button"
                        v-on:click="onBtnViewListFilterClick($event, 'current')"
                        class="btn btn-sm"
                        v-bind:class="{ 'btn-success': viewList.show.current, 'btn-light': !viewList.show.current}">
                    Текущие
                </button>
                <button type="button"
                        v-on:click="onBtnViewListFilterClick($event, 'ended')"
                        class="btn btn-sm"
                        v-bind:class="{ 'btn-success': viewList.show.ended, 'btn-light': !viewList.show.ended}">
                    Завершенные
                </button>
            </div>
        </div>

        <hr/>

        <!--/* Current FINISHED */-->

        <div v-if="!courses.current.length && !loading" class="alert alert-success text-center">
            <i class="em em-heart_eyes"></i> Все задачи выполнены! Мы такие молодцы!!! <i class="em em-heart_eyes"></i>
        </div>

        <!--/* Current PROGRAM */-->

        <div v-if="courses.current.length" v-for="programma in courses.programms" :key="programma.programm.id">

            <div class="row">
                <div class="col-auto">
                    <img height="60px" class="float-left" v-if="programma.programm.image" v-bind:src="programma.images.image.square"/>

                    <template v-if="programma.gestalt.percent">
                        <vertical-progress-bar
                                :progress-class="'progress-bar-vertical'"
                                :percent="programCourse.percent"
                                v-for="programCourse in programma.gestalt.courses"
                        ></vertical-progress-bar>
                        <vertical-progress-bar

                                :progress-class="'progress-bar-vertical'"
                                :percent="programma.gestalt.percent"
                        ></vertical-progress-bar>
                    </template>


                </div>

                <div class="col">
                    <h3>{{programma.programm.name}}
                        <small class="badge badge-dark">{{programma.courses.length}}</small>
                    </h3>

                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                             v-bind:style="{ width: programma.stat.percent + '%' }"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            {{programma.stat.percent}}%
                        </div>
                    </div>
                </div>
            </div>

            <programm-component
                    :courses="programma.courses"
                    :show="viewList.show"
            ></programm-component>
        </div>

        <!--/* Current SIGLETON */-->

        <div v-if="courses.singleton.length">
            <h3>Курсы вне программ
                <small class="badge badge-dark">{{courses.singleton.length}}</small>
            </h3>

            <programm-component
                    :courses="courses.singleton"
                    :show="viewList.show"
            ></programm-component>
        </div>

        <div v-if="courses.finished.length">
            <h3>Завершенные за сегодня
                <small class="badge badge-dark">{{courses.finished.length}}</small>
            </h3>

            <programm-component
                    :courses="courses.finished"
                    :show="{current: true, ended: true, lessonFinish: true}"
            ></programm-component>
        </div>

        <!--/* MODAL finish course */-->

        <modal :adaptive="true" height="auto" :scrollable="true" name="modal-periodic-answer" @before-open="beforeOpenModal">

            <div class="m-2">


                <div class="card mb-3" v-if="form.courseLink">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img :src="form.courseData.images.image.small" class="card-img" alt="">
                        </div>
                        <div class="col">
                            <div class="card-body">

                                <div class="alert alert-success h-100" v-if="form.courseLink && form.courseLink.lesson.purpose">
                                    <i class="fa fa-bullseye text-danger"></i>
                                    <span v-if="form.courseLink" v-html="form.courseLink.lesson.purpose"></span>
                                </div>

                                <div class="alert alert-success h-100" v-if="form.courseLink && form.courseLink.lesson.bested">
                                    <i class="em em-up"></i>
                                    <span v-if="form.courseLink" v-html="form.courseLink.lesson.bested"></span>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="scrollable-lesson-info">
                    <div v-if="form.courseLink">
                        <p><b>Выводы:</b> <span v-html="form.courseLink.lesson.conclusion"></span></p>
                    </div>
                    <div v-if="form.courseLink">
                        <p><b>Воодная:</b> <span v-html="form.courseLink.lesson.entry"></span></p>
                    </div>
                </div>


            </div>


            <form @submit.prevent="onSubmitPeriodicalAnswerLesson" class="m-3">
                <div class="float-right">
                    <span @click="$modal.hide('modal-periodic-answer')">❌</span>
                </div>

                <div class="text-primary m-2" v-if="!form.answerRequire && !form.answerView" v-on:click="onClickAnswerViewSet()">
                    <i class="fa fa-plus"></i> Добавть отчет
                </div>

                <div v-if="form.answerRequire || form.answerView">
                    <label class="control-label" for="form-answer"><b>Ответ/отчет</b></label>

                    <textarea v-model="form.answer" rows="4" id="form-answer"
                              class="form-control form-control-success"
                              :class="{ 'is-invalid': $v.form.answer.$error,  'is-valid': !$v.form.answer.$error}">

                        </textarea>

                    <div class="invalid-feedback" v-if="!$v.form.answer.required">
                        Данное поле обязательное для заполнения
                    </div>

                    <div class="invalid-feedback" v-if="!$v.form.answer.minLength">
                        Данное поле должно содержать не менее 50 символов
                    </div>

                </div>

                <div class="text-center"></div>
                <button class="btn btn-success btn-block"><i class="fa fa-check"></i> Выполнено</button>

            </form>
        </modal>

    </div>

</template>

<script>
    'use strict';

    import axios from 'axios';
    import jBox from 'jbox';

    import Loading from '../../../../../../../assets/js/vue/elements/loading/Loading'
    import CourseCongratulation from '../../elements/courseCongratulation/CourseCongratulation';
    import ProgrammComponent from './components/DashboardAppProgramm';
    import VerticalProgressBar from './components/DashboardVerticalProgressBar';
    import {required, minLength} from 'vuelidate/lib/validators';

    const routes = require('../../../../../../../assets/js/fos_js_routes.json');
    const Routing = require('../../../../../../../vendor/friendsofsymfony/jsrouting-bundle/Resources/public/js/router.min.js');

    Routing.setRoutingData(routes);

    export default {
        el: "#app-dashboard",
        components: {'programm-component': ProgrammComponent, Loading, VerticalProgressBar, CourseCongratulation},
        data() {
            return {
                loading: false,

                courses: {singleton: [], programms: [], finished: [], current: [], all: []},
                achievements: [],
                images: {},
                congratulationData: {enable: false, newData: {}, statistics: {}},

                viewList: {
                    show: {
                        current: true,
                        ended: false,
                        lessonFinish: false,
                    }
                },
                form: {
                    answerRequire: null,
                    answerView: false,
                    answer: null,
                    courseData: null,
                    courseLink: null,
                }
            }
        },
        mounted() {
            this.loadData();
        },
        updated() {
            new jBox('Image', {maxWidth: '600px'});
        },

        validations: {
            form: {
                answer: {required, minLength: minLength(50)},
            }
        },
        methods: {
            loadData() {
                this.loading = true;

                axios
                    .get(Routing.generate('course_auditorium_dashboard_api'))
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        this.courses = data.courses;
                        this.achievements = data.achievements;

                        this.setAllCourses();

                        this.loading = false;
                    })
                    .catch((error) => {
                        console.log(error);

                        this.loading = false;
                    });
            },

            setAllCourses: function () {
                this.courses.finished = [];
                this.courses.current = [];
                this.courses.all = [];
                for (let keyProgramm in this.courses.programms) {
                    for (let keyCourse in this.courses.programms[keyProgramm].courses) {
                        let course = this.courses.programms[keyProgramm].courses[keyCourse];
                        if (course.userlessons.today.status === 2) {
                            this.courses.finished.push(course);
                        } else {
                            this.courses.current.push(course);
                        }
                        this.courses.all.push(course);
                    }
                }
                for (let keyCourse in this.courses.singleton) {
                    let course = this.courses.singleton[keyCourse];
                    if (course.userlessons.today.status === 2) {
                        this.courses.finished.push(course);
                    } else {
                        this.courses.current.push(course);
                    }
                    this.courses.all.push(course);
                }
            },

            onBtnViewListFilterClick: function (event, type) {
                this.viewList.show[type] = !this.viewList.show[type];
            },

            onSubmitPeriodicalAnswerLesson: function (event) {
                if (this.form.answerRequire) {
                    this.$v.form.$touch();

                    if (this.$v.form.$error) {
                        return;
                    }
                }
                this.sendAnswer();
            },

            beforeOpenModal(event) {
                this.form.answerRequire = false;
                this.form.courseData = event.params.courseData;
                this.form.courseLink = this.form.courseData.userlessons.today;

                let typAnswer = this.form.courseLink && this.form.courseLink.lesson.typeAnswer;

                if (typAnswer === 1 || typAnswer === 3) {
                    this.form.answerRequire = true;
                }
            },
            sendAnswer() {
                const data = JSON.stringify({id: this.form.courseLink.lesson.id, answer: this.form.answer});
                axios
                    .post('/auditorium/lessons/api/learn/lesson/answer', data)
                    .then(response => {
                        let data = JSON.stringify(response.data)
                        data = JSON.parse(data);

                        this.$modal.hide('modal-periodic-answer');

                        this.finishCongratulations(data);

                        this.answerFormReset();

                        this.loadData();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },

            finishCongratulations(data) {
                console.log('parent congratulationData', this.congratulationData);

                console.log('Sended congratulationData', data);

                data.congratulation.enable = true;
                this.congratulationData    = data.congratulation;

            },

            onClickAnswerViewSet: function () {
                this.form.answerView = true;
            },

            onCongratulationContinue: function () {
                this.form.answerView = true;
            },

            answerFormReset: function () {
                this.form.answerView = false;
                this.form.answer = '';
            }
        }
    };

</script>